<br>


<p class="by-article-para">Chart of Accounts is a chronological list of all accounts. It shows any code numbers (if business uses codes to identify a transaction) and Balance amounts of the accounts.</p>

<p class="by-article-para">Chart of Accounts is used by businesses with computerized accounting system, as it provides on-time balances of each and every accounts. Business with manual recording system makes Trial Balance at every end of financial accounting period, or when required.</p>

<table class="by-border-all">
  <thead class="by-table-column-heading">
    <tr class="by-text-center by-border-bottom">
      <th>Account Code</th>
      <th>Account Type</th>
      <th>Account Name</th>
      <th>Description</th>
      <th>Balance (Rupees)</th>
    </tr>
  </thead>

<tbody class="by-table-cell">
 <tr>
  <td class="by-text-bright by-text-center"><b>10001</b></td> 
  <td class="by-text-center">ASSET</td>  <td>Cash</td>  <td>Cash in hand</td>  <td class="by-number-cell">5,000</td>
 </tr>


<tr><td class="by-text-bright by-text-center"><b>10002</b></td>  <td class="by-text-center">ASSET</td>  <td>Bank Account</td>  <td>Cash in Bank</td>  <td class="by-number-cell">7,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>20011</b></td>  <td class="by-text-center">ASSET<td>Mr. A</td>  <td>Receivable from Mr. A<td class="by-number-cell">3,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>20012</b></td>  <td class="by-text-center">ASSET<td>Mr. B</td>  <td>Receivable from Mr. B<td class="by-number-cell">4,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>20013</b></td>  <td class="by-text-center">ASSET<td>XYZ Company</td>  <td>Receivable from XYZ Company<td class="by-number-cell">2,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>30010</b></td>  <td class="by-text-center">EQUITY<td>Owner’s Equity</td>  <td><td class="by-number-cell">(21,000)</td></tr>
<tr><td class="by-text-bright by-text-center"><b>30010</b></td>  <td class="by-text-center">INCOME<td>Sales</td>  <td><td class="by-number-cell">(190,000)</td></tr>
<tr><td class="by-text-bright by-text-center"><b>40010</b></td>  <td class="by-text-center">COST OF GOODS SOLD<td>Purchases</td>  <td><td class="by-number-cell">110,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>50001</b></td>  <td class="by-text-center">EXPENSE<td>Rent Expense</td>  <td><td class="by-number-cell">25,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>50002</b></td>  <td class="by-text-center">EXPENSE<td>Salaries Expense</td>  <td><td class="by-number-cell">16,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>50003</b></td>  <td class="by-text-center">EXPENSE<td>Advertising</td>  <td><td class="by-number-cell">8,000</td></tr>
<tr><td class="by-text-bright by-text-center"><b>90001</b></td>  <td class="by-text-center">RETAINED EARNING<td>Profit</td>  <td>Sales is Greater than Expenses<td class="by-number-cell">31,000</td></tr>

</tbody>

<tfoot class="by-table-cell by-bg-color-bright-light by-border-top-footer by-text-bright" >
	<tr><td> </td>  <td><td><b>Total</b></td>  <td><i>Must always be Zero</i><td class="by-number-cell"><b>0</b></td></tr>  
</tfoot>

</table>