
<br>
<p class="by-article-para">Let’s prepare a statement of Profit and Loss for the trial balance which we have already prepared in "TRIAL BALANCE - EXERCISE” chapter.</p>


<table class="by-border-all">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading">
        <th class="by-text-center" colspan="5">MR. A AND COMPANY <br>Statement of Profit and Loss</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
        <th class="by-text-center" colspan="5">For the year ending December 31, 2022</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
        <th colspan="2"></th>
      <th style="width:120px;">Rupees</th>
      <th style="width:120px;">Rupees</th>
      <th style="width:120px;">Rupees</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

<tr>
	<td class="by-text-youth by-text-left by-text-bold">Sales</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell">1,280,000</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Sales Return</td>
	<td class="by-number-cell">(19,200)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Discount Given</td>
	<td class="by-number-cell">(0)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Delivery Charges</td>
	<td class="by-number-cell by-border-bottom-youth-single">(0)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>


<tr class="by-text-youth">
	<td class="by-text-youth by-text-center "></td>
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:50px;">Net Sales</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold">1,260,800</td>
	<td class="by-number-cell"></td>
</tr>





<tr>
	<td class="by-text-youth by-text-left by-text-bold">Purchases</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell">1,100,000</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Purchase Return</td>
	<td class="by-number-cell">(29,200)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>


<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Delivery Charges</td>
	<td class="by-number-cell by-border-bottom-youth-single">(0)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>


<tr class="by-text-youth">
	<td class="by-text-youth by-text-center "></td>
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:50px;">Net Purchases</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-border-bottom-youth-single by-text-bold">(1,070,800)</td>
	<td class="by-number-cell"></td>
</tr>


<tr class="by-table-cell by-bg-color-bright-light by-text-bright">
	<td class="by-text-left by-padding-left100" colspan="4"><b>GROSS PROFIT</b></td>
	<td class="by-number-cell"><b>190,000</b></td>
</tr>

<tr style="height: 30px;">
    <td></td>
</tr>
<tr>
	<td class="by-text-youth by-text-left by-text-bold">Expenses</td>
	<td class="by-text-center"></td>
	<td class="by-text-center"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Rent</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">10,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Salaries</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">7,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Furniture Repairs</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">2,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Building Repairs</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">4,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Vehicle Fuel</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">2,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Electricity</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">3,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Stationary</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-border-bottom-youth-single">1,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-youth by-text-bold">(29,000)</td>
</tr>

<tr>
	<td class="by-text-youth by-text-left by-text-bold">Other Income</td>
	<td class="by-text-center"></td>
	<td class="by-text-center"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Bank Interest</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">3,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Profit on Bond</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-border-bottom-youth-single">0</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-youth by-text-bold">3,000</td>
</tr>


<tr>
	<td class="by-text-youth by-text-left by-text-bold">Other Expense</td>
	<td class="by-text-center"></td>
	<td class="by-text-center"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Registration Fee</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">9,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Other Tax</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-border-bottom-youth-single">0</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-youth by-border-bottom-youth-single by-text-bold">(9,000)</td>
</tr>


<tr class="by-table-cell by-bg-color-bright-light by-text-bright">
	<td class="by-text-left by-padding-left100" colspan="4"><b>PROFIT BEFORE INCOME TAX</b></td>
	<td class="by-number-cell"><b>155,000</b></td>
</tr>

<tr>
	<td class="by-text-youth by-text-center by-text-bold"></td>
	<td class="by-text-left">Income Tax</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-youth by-border-bottom-youth-single">(10,850)</td>
</tr>

</tbody>

<tfoot class="by-table-cell">

<tr class="by-table-cell by-bg-color-bright-light by-text-bright">
	<td class="by-text-left by-padding-left100" colspan="4"><b>NET PROFIT</b></td>
	<td class="by-number-cell by-border-bottom-double"><b>144,150</b></td>
</tr>
<tr style="height: 30px;">
    <td></td>
</tr>
</tfoot>

</table>

<br>
<br>