<br />
<p class="by-article-para">
  Let’s prepare a statement of Owner’s equity from "INCOME STATEMENT" and
  "BALANCE SHEET" exercises in the previous chapters.
</p>

<table class="by-border-all">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading">
      <th class="by-text-center" colspan="5">
        MR. A AND COMPANY <br />STATEMENT OF OWNER’S EQUITY
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th class="by-text-center" colspan="5">
        for the year ending December 31, 2022
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th colspan="2"></th>
      <th style="width: 100px">Rupees</th>
      <th style="width: 100px">Rupees</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-bright by-text-bold">
      <td class="by-text-Left" colspan="2">
        OWNER’S EQUITY (AT BEGINNING OF THE YEAR)
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="3">
        EQUITY INTRODUCED DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-Left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">CASH</td>
      <td class="by-number-cell">1,000,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-Left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">IN-KIND</td>
      <td class="by-number-cell by-border-bottom-youth-single">0</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-Left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        TOTAL EQUITY INTRODUCED DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold">1,000,000</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="3">
        NET INCOME GENERATED DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-Left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Retained Income</td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-Left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Net Profit</td>
      <td class="by-number-cell by-border-bottom-youth-single">144,150</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-Left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        TOTAL NET INCOME GENERATED DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold">144,150</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="3">
        WITHDRAWAL AND LOSSES MADE DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-Left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Withdrawal</td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-Left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Net Loss</td>
      <td class="by-number-cell by-border-bottom-youth-single">0</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-Left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        TOTAL WITHDRAWAL AND LOSSES MADE DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold by-border-bottom-youth-single">
        0
      </td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell">
    <tr class="by-bg-color-bright-light by-text-bright">
      <td class="by-text-Left by-padding-left-100" colspan="3">
        <b>OWNER’S EQUITY (AT END OF THE YEAR)</b>
      </td>
      <td class="by-number-cell by-border-bottom-double"><b>1,144,150</b></td>
    </tr>
    <tr style="height: 30px">
      <td></td>
    </tr>
  </tfoot>
</table>

<br />
<br />
