<br />
<p class="by-article-para">
  Ledger is a book of account used to systematically transfer transaction
  impacts from journal.
</p>

<p class="by-article-para"><b>Note:</b></p>
<ul>
  <li class="by-list-item">
    Balance (C/F) referred to as “Balance Carried Forward” is also called
    “Closing Balance”. This balance is transferred or carried forward to next
    period.
  </li>
  <li class="by-list-item">
    Balance (B/F) referred to as “Balance Brought Forward” is also called
    “Opening Balance”. This balance has been transferred from Previous Period.
  </li>
</ul>

<p class="by-article-para">
  Below is a format of a page in Ledger book. This format is called T-Account
  format and it is manual format of a ledger book.
</p>

<br />
<img
  src="../../../../assets/accounting/LedgerFormat.png"
  alt="Ledger Format image"   class="img-fluid"
/>

<p class="by-article-para">
  In Computerized software, ledger format is designed as follows. This format is
  called “Running-Balance method”.
</p>

<br />
<img
  src="../../../../assets/accounting/LedgerComputerizedFormat.png"
  alt="Ledger Computerized Format image"  class="img-fluid"
/>

<br />
<br />
