.by-heading-main {
    color: var(--bright-color);
    // color: #4604aa;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right: 20px;
    cursor: pointer;
}

.by-heading-topic-name {
    color: var(--youth-color);
    // color: #4604aa;
    font-size: 1.2rem;
    // font-weight: bold;
    margin-left: 20px;
}

.active-menu {

    font-weight: bold;
    color: var(--bright-color);
    // border-bottom: solid 1px var(--bright-color);
    background-color: var(--youth-dim2-color);

}



.by-container-main {
    position: relative;
    height: 80vh !important;

    .position-fixed {
        background-color: var(--bright-light2-color);
        padding: 10px 10px;
        width: 100%;

        .btn-group {

            ul {
                height: 350px;
                overflow: hidden;
                overflow-y: scroll;
            }


            .by-a {
                text-decoration: none;
                position: relative;
                color: var(--org-color);
                font-size: 1rem;
                margin: 5px 0;

                &::after {
                    font-weight: bold;
                    color: var(--bright-color);

                    position: absolute;
                    content: "";
                    width: 20%;
                    height: 2.5px !important;
                    background-color: var(--bright-color);
                    left: 0;
                    bottom: 0;

                    transform: scale(0, 1);
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scale(1, 1);
                }
            }

        }
    }


    // .by-top-row {
    //     height: 5%;
    // }

    // .by-content-row {
        // height: 95%;
        
    .by-course-content {
        padding-top: 50px;
        // background-color: var(--org-color);
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }


        .by-bottom-container {

            position: fixed;
            right: 0px;
            bottom: 5px;
            background-color: var(--bright-light2-color);
            color: var(--youth-color);
            padding: 10px 0 10px 0;
            border-top: solid 1px grey;
            width: 100%;


            .by-prev-lesson {
                cursor: pointer;
                // visibility: collapse;
                margin-right: 50px;

                span {
                    font-size: 1.5rem;

                }

                b {
                    cursor: pointer;
                }
            }

            .by-next-lesson {
                cursor: pointer;

                span {
                    font-size: 1.5rem;
                    // margin-right: 50px;

                }

                b {
                    cursor: pointer;
                }
            }
        }
    // }
}