<br />
<p class="by-article-para">
  Statement Of Owner’s Equity is prepared to show the equity of owner(s) of a
  business and changes into those equities during a reporting period.
</p>
<p class="by-article-para">
  The “Total Net Equity Amount” showed in the Statement Of Owner’s Equity is the
  amount of “Net Worth” of the business.
</p>

<br />
<p class="by-article-para">
  Below is a format for Statement Of Owner’s Equity.
</p>

<table class="by-border-all">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading">
      <th class="by-text-center" colspan="5">
        XYZ COMPANY <br />STATEMENT OF OWNER’S EQUITY
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th class="by-text-center" colspan="5">
        for the year ending December 31, 20XX
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th colspan="2"></th>
      <th style="width: 100px">Rupees</th>
      <th style="width: 100px">Rupees</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-bright by-text-bold">
      <td class="by-text-left" colspan="2">
        OWNER’S EQUITY (AT BEGINNING OF THE YEAR)
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXXX</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>
    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="3">
        NET INCOME GENERATED DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Retained Income</td>
      <td class="by-number-cell">XXXXX</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Net Profit</td>
      <td class="by-number-cell by-border-bottom-youth-single">XXXXX</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        TOTAL NET INCOME GENERATED DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold">XXXXX</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="3">
        WITHDRAWAL AND LOSSES DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Withdrawal</td>
      <td class="by-number-cell">XXXXX</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Net Loss</td>
      <td class="by-number-cell by-border-bottom-youth-single">XXXXX</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        TOTAL WITHDRAWAL AND LOSSES DURING THE YEAR
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold by-border-bottom-youth-single">
        (XXXXX)
      </td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell">
    <tr class="by-bg-color-bright-light by-text-bright">
      <td class="by-text-left by-padding-left100" colspan="3">
        <b>OWNER’S EQUITY (AT END OF THE YEAR)</b>
      </td>
      <td class="by-number-cell by-border-bottom-double"><b>XXXXX</b></td>
    </tr>
    <tr style="height: 30px">
      <td></td>
    </tr>
  </tfoot>
</table>

<br />
<br />
