<br />
<p class="by-article-para">
  Let’s prepare a Trial Balance for All the closing balances made in our
  previous chapter “<b>BOOKS OF ACCOUNTS - LEDGER</b>”.
</p>

<table class="by-border-all">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading">
      <th colspan="5">
        TRIAL BALANCE
      </th>
    </tr>
    <tr>
      <th class="by-table-heading by-text-center by-border-bottom" colspan="5">
        for the year ended December 31, 2022
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-right-cell by-border-bottom">
      <th>Account Type</th>
      <th style="width: 200px">
        Particulars/Account Name
      </th>
      <th style="width: 50px">L.F</th>
      <th style="width: 120px">
        Debit<br />(Rupees)
      </th>
      <th style="width: 120px">
        Credit<br />(Rupees)
      </th>
    </tr>
  </thead>

  <tbody class="by-table-cell by-border-bottom-cell by-border-right-cell">
    <tr>
      <td class="by-text-youth by-text-center by-text-bold">ASSET</td>
      <td class="by-text-left">CASH</td>
      <td class="by-text-center">01</td>
      <td class="by-number-cell">533,150</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        OWNER’S EQUITY
      </td>
      <td class="by-text-left">MR. A’s Equity</td>
      <td class="by-text-center">02</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,144,150</td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        LIABILITIES
      </td>
      <td class="by-text-left">ABC Bank’s Loan</td>
      <td class="by-text-center">03</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">600,000</td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">ASSET</td>
      <td class="by-text-left">Land</td>
      <td class="by-text-center">04</td>
      <td class="by-number-cell">200,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">ASSET</td>
      <td class="by-text-left">Building</td>
      <td class="by-text-center">05</td>
      <td class="by-number-cell">300,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">ASSET</td>
      <td class="by-text-left">Vehicle</td>
      <td class="by-text-center">06</td>
      <td class="by-number-cell">150,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">ASSET</td>
      <td class="by-text-left">Furniture</td>
      <td class="by-text-center">07</td>
      <td class="by-number-cell">80,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">PURCHASE</td>
      <td class="by-text-left">Purchase</td>
      <td class="by-text-center">08</td>
      <td class="by-number-cell">1,100,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">REVENUE</td>
      <td class="by-text-left">Sales</td>
      <td class="by-text-center">09</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,280,000</td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Rent</td>
      <td class="by-text-center">10</td>
      <td class="by-number-cell">80,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Salaries</td>
      <td class="by-text-center">11</td>
      <td class="by-number-cell">70,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Electricity</td>
      <td class="by-text-center">12</td>
      <td class="by-number-cell">30,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Vehicle Fuel</td>
      <td class="by-text-center">13</td>
      <td class="by-number-cell">12,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Furniture Repair</td>
      <td class="by-text-center">14</td>
      <td class="by-number-cell">12,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Building Repair</td>
      <td class="by-text-center">15</td>
      <td class="by-number-cell">8,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">EXPENSE</td>
      <td class="by-text-left">Stationary</td>
      <td class="by-text-center">16</td>
      <td class="by-number-cell">7,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">REVENUE</td>
      <td class="by-text-left">Sales Return</td>
      <td class="by-text-center">17</td>
      <td class="by-number-cell">19,200</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">PURCHASE</td>
      <td class="by-text-left">Purchase Return</td>
      <td class="by-text-center">18</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">29,200</td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">ASSET</td>
      <td class="by-text-left">Accounts Receivable</td>
      <td class="by-text-center">19</td>
      <td class="by-number-cell">751,900</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        LIABILITIES
      </td>
      <td class="by-text-left">Accounts Payable</td>
      <td class="by-text-center">20</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">465,000</td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        OWNER’S EQUITY
      </td>
      <td class="by-text-left">Profit</td>
      <td class="by-text-center">21</td>
      <td class="by-number-cell">144,150</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        OTHER INCOME
      </td>
      <td class="by-text-left">Interest</td>
      <td class="by-text-center">22</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,000</td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        OTHER EXPENSE
      </td>
      <td class="by-text-left">Income Tax</td>
      <td class="by-text-center">23</td>
      <td class="by-number-cell">10,850</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-center by-text-bold">
        LIABILITIES
      </td>
      <td class="by-text-left">Income Tax</td>
      <td class="by-text-center">24</td>
      <td class="by-number-cell">13,100</td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>

  
  <tfoot class="by-table-cell by-bg-color-bright-light by-text-bright by-border-right-cell">
    <tr>
      <td colspan="3">
        <b>Total:</b>
      </td>
      <td class="by-number-cell"><b>3,521,350</b></td>
      <td class="by-number-cell"><b>3,521,350</b></td>
    </tr>
  </tfoot>
</table>

<br />
<br />
