<br />
<p class="by-article-para">
  A business records all the <b>credit sales</b> to customers into Sales Book.
</p>

<p class="by-article-para">
  Below is a format of a page in Sales Journal book.
</p>

<br />

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="6">JOURNAL – SALES BOOK</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th>Transaction Date</th>
      <th style="width: 150px">Particulars/Customer</th>
      <th style="width: 120px">Customer Invoice No.</th>
      <th style="width: 120px">Sales <br />(Rupees)</th>
      <th style="width: 120px">Sales Tax <br />(Rupees)</th>
      <th style="width: 120px">Accounts Receivable <br />(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 03, 2022</td>
      <td class="by-text-left">Amir Company</td>
      <td class="by-text-center"><b>2001</b></td>
      <td class="by-number-cell">500,000</td>
      <td class="by-number-cell">8,000</td>
      <td class="by-number-cell">508,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 07, 2022</td>
      <td class="by-text-left">Fawad Store</td>
      <td class="by-text-center"><b>2002</b></td>
      <td class="by-number-cell">80,000</td>
      <td class="by-number-cell">900</td>
      <td class="by-number-cell">80,900</td>
    </tr>
    <tr>
      <td class="by-text-center">Jun 19, 2022</td>
      <td class="by-text-left">Shehnaz Curtains</td>
      <td class="by-text-center"><b>2003</b></td>
      <td class="by-number-cell">200,000</td>
      <td class="by-number-cell">3,000</td>
      <td class="by-number-cell">203,000</td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell by-border-top-footer">
    <tr
      class="by-table-cell by-bg-color-bright-light by-text-bright by-text-bold"
    >
      <td class="by-text-center">Dec 31, 2022</td>
      <td class="by-text-left"><b>Total Sales:</b></td>
      <td class="by-text-center">---</td>
      <td class="by-number-cell">780,000</td>
      <td class="by-number-cell">11,900</td>
      <td class="by-number-cell">191,900</td>
    </tr>
  </tfoot>
</table>

<br />
<h2 class="by-article-heading">Entry in General Journal</h2>

<p class="by-article-para">
  At the end of the month, we will make an accounting entry into General Journal
  book, so that we can then, post them into Ledger.
</p>

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="6">GENERAL JOURNAL</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">Transaction Type</th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br />(Rupees)</th>
      <th>Credit<br />(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="6">Dec 31. 2022</td>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left">Receivable – Amir Company</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">508,000</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left">Receivable – Fawad Store</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">80,900</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left">Receivable – Shehnaz Curtains</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">203,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">REVENUE</td>
      <td class="by-text-left" style="padding-left: 40px">Sales</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">780,000</td>
    </tr>
    <tr>
      <td class="by-text-center">LIABILITIES</td>
      <td class="by-text-left" style="padding-left: 40px">Sales Tax</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">11,900</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3"><i>Credit Sales during the year 2022.</i></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<br />
