<br />
<p class="by-article-para">
  At the end of financial period, we get an Accounting Equation for a single
  account automatically.
</p>

<p class="by-article-para by-text-center by-text-bold">
  CLOSING BALANCE = OPENING BALANCE + ADDITIONS – DEDUCTIONS
</p>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 1:</b> Calculate Cash-in-hand.
</p>

<aside class="by-aside">
  <br />
  <p class="by-article-para"><b>Note:</b></p>
  <p class="by-article-para">
    - "Closing Balance of Cash" is called <b>Cash-in-Hand</b>.
  </p>
  <p class="by-article-para">
    - Similarly, "Closing Balance of Inventory" is simply called
    <b>Inventory</b>, <b>Closing Stock</b>,
    <b>Available Goods or Goods Unsold.</b>
  </p>
</aside>

<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Opening Balance = Rs. 0</p>
<p class="by-article-para by-padding-left100">Total Receipts = Rs. 200,000</p>
<p class="by-article-para by-padding-left100">Total Payments = Rs. 150,000</p>

<br />
<p class="by-article-para">Thus,</p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
  Closing Balance = Opening Balance + Additions – Deductions
</p>

<p class="by-article-para by-padding-left100 by-text-bold by-text-youth">
  <img
    src="../../../../assets/accounting/right-arrow.svg"
    alt="right-arrow"
    style="width: 15px"
  />
  Closing Balance <u>of Cash</u> = Opening Balance + Total Receipts – Total
  Payments
</p>

<br />

<br />
<p class="by-article-para">
  Putting values of <b>Opening Balance</b>, <b>Total Receipts </b> and
  <b>Total Payments</b>, we get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Cash-in-hand</b> = Rs. 0 + Rs. 200,000 - Rs. 150,000
</p>

<div class="by-answer-div by-article-para d-block by-text-bright">
  <span class="by-answer-span"><b>Cash-in-hand</b> = Rs. 50,000</span>
</div>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 2:</b> Calculate Closing Stock.
</p>

<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Opening Balance = Rs. 0</p>
<p class="by-article-para by-padding-left100">
  Total Cost of Goods Purchased = Rs. 700,000
</p>
<p class="by-article-para by-padding-left100">
  Total Cost of Goods Sold = Rs. 450,000
</p>

<br />
<p class="by-article-para">Thus,</p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
  Closing Balance = Opening Balance + Additions – Deductions
</p>
<p class="by-article-para by-padding-left100 by-text-bold by-text-youth">
  <img
    src="../../../../assets/accounting/right-arrow.svg"
    alt="right-arrow"
    style="width: 15px"
  />
  Closing Balance <u>of Stock</u> = Opening Balance + Total Cost of Goods
  Purchased – Total Cost of Goods Sold
</p>

<br />
<p class="by-article-para">
  Putting values of <b>Opening Balance</b>,
  <b>Total Cost of Goods Purchased</b> and <b>Total Cost of Goods Sold</b>, we
  get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Closing Stock</b> = Rs. 0 + Rs. 700,000 - Rs. 450,000
</p>

<div class="by-answer-div by-article-para d-block by-text-bright">
    <span class="by-answer-span"><b>Closing Stock</b> = Rs. 250,000</span>
  </div>
