
<h2 class="by-article-heading">Sales</h2>

<p class="by-article-para"><b>Total Sales</b> or just <b>Sales</b> is also called <b><i>Revenue</i></b> recorded after issuing an Invoice to a Customer for the total sales amount.</p>

<h2 class="by-article-heading">Net Sales</h2>

<p class="by-article-para"><b>Net Sales</b> is the amount calculated after deducting all <u><i>selling expenses</i></u> from total sales. Such as, sales return, sales discount, carriage out-wards, etc.</p>

<h2 class="by-article-heading">Gross Profit</h2>

<p class="by-article-para"><b>Gross Profit</b> is the amount calculated after deducting all <u><i>purchases and production expenses</i></u> from Net Sales. Such as, Cost of Goods sold, carriage in-wards, overheads, etc.</p>


<h2 class="by-article-heading">Net Income</h2>

<p class="by-article-para"><b>Net Income</b> also called <b>Net Profit</b>, is the amount calculated after deducting all <u><i>non-selling expenses</i></u> and taxes from Gross Profit.</p>

