<br />
<p class="by-article-para">
  Let’s prepare closing entries from "INCOME STATEMENT" and "BALANCE SHEET"
  exercises in the previous chapters.
</p>

<br />

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="5">
        GENERAL JOURNAL
      </th>
      <th colspan="1">PAGE 07</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="5">Dec 31. 2022</td>
      <td class="by-text-center">REVENUE</td>
      <td class="by-text-left">Sales</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">1,280,000</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">OTHER INCOME</td>
      <td class="by-text-left">Bank Interest Income</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">3,000</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">REVENUE</td>
      <td class="by-text-left" style="padding-left: 40px">
        Sales Return
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">19,200</td>
    </tr>

    <tr>
      <td class="by-text-center">SUMMARY</td>
      <td class="by-text-left" style="padding-left: 40px">
        Income Summary
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,263,800</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Revenue accounts closed for the year ending Dec 31, 2022.</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <!-- END OF FIRST TRANSACTION -->

    <tr class="by-border-bottom by-border-top-footer">
      <td class="by-text-center" rowspan="4">Dec 31. 2022</td>
      <td class="by-text-center">SUMMARY</td>
      <td class="by-text-left">Income Summary</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">1,070,800</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">PURCHASE</td>
      <td class="by-text-left">Purchase Return</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">29,200</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">PURCHASE</td>
      <td class="by-text-left" style="padding-left: 40px">Purchase</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,100,000</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Purchase accounts closed for the year ending Dec 31, 2022.</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <!-- END OF SECOND TRANSACTION -->

    <tr class="by-border-bottom by-border-top-footer">
      <td class="by-text-center" rowspan="11">Dec 31. 2022</td>
      <td class="by-text-center">SUMMARY</td>
      <td class="by-text-left">Income Summary</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">48,850</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">Rent</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">10,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">Salaries</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">7,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">Electricity</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">
        Vehicle Fuel
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">2,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">
        Furniture Repair
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">2,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">
        Building Repair
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">4,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">Stationary</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,000</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">
        Registration Expenses
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">9,000</td>
    </tr>
    <tr>
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">Income Tax</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">10,850</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Expense accounts closed for the year ending Dec 31, 2022 </i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <!-- END OF THIRD TRANSACTION -->

    <tr class="by-border-bottom by-border-top-footer">
      <td class="by-text-center" rowspan="3">Dec 31. 2022</td>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left">Profit</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">144,150</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left" style="padding-left: 40px">
        Owner’s Equity
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">144,150</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Profit account closed for the year ending Dec 31, 2022</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

   
    <!-- END OF FOURTH TRANSACTION -->

    <tr class="by-border-bottom by-border-top-footer">
      <td class="by-text-center" rowspan="4">Dec 31. 2022</td>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left">Owner’s Equity</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left" style="padding-left: 40px">Drawings</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Drawings account closed for the year ending Dec 31, 2022</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td colspan="3">
        <b>Note:</b> As the owner has not made any drawings, this entry is not
        required. This is just for demonstration purpose only.
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
    <!-- END OF FIFTH & LAST TRANSACTION -->

  
  </tbody>
  <tfoot class="by-table-cell by-bg-color-bright-light by-text-bright by-border-top-footer by-text-bold">
    <tr>
      <td class="by-text-center">Dec 31. 2022</td>
      <td class="by-text-left" colspan="3">Total</td>
      <td class="by-number-cell">2,526,000</td>
      <td class="by-number-cell">2,526,000</td>
    </tr>
  </tfoot>
</table>

<br />
<br />
