.by-container {
    margin-top: 15px;
    height: 50vh;


    .para-1 {
        font-size: 1rem;
    }
    .para-2 {
        font-size: 1rem;
        color: red;
        font-style: italic;
        margin-top: 30px;
        
    }
    .para-3 {
        font-size: 1rem;
        color: red;
        font-weight: bold;
    }

}