<br />

<p class="by-article-para">
  Accounting Cycle is a series of steps and processes which is required for an
  accountant to prepare a financial statement.
</p>

<img
  class="by-image-accountingCycle"
  src="../../../../assets/accounting/AccountingCycle.png"
  alt="Image about Accounting Cycle"
/>

<br />
<h2 class="by-article-heading">Identifying Transaction and Events</h2>

<p class="by-article-para">
  <b>Identifying Transaction</b> and Events is a crucial task of an accountant.
  It requires great deal of insight for an accountant to identify and analyze
  transaction aspects and events.
</p>

<p class="by-article-para">
  Chart of Accounts is a main tool to identify how a business is going to
  operate economically. Chart of Accounts is a list of all transactions or
  event, which is named as “Account”.
</p>

<p class="by-article-para">
  Besides that, a Detailed Budget will provide brief explanations about how the
  events to be identified, and whether it is categorized as “Financial” event or
  not. By the time, Chart of accounts and Detailed Budget will be adjusted and
  transformed into more compact forms as per need.
</p>

<p class="by-article-para">
  Chart of Account provides a detailed list of accounts set up to track
  financial transaction.
</p>

<p class="by-article-para">
  Detailed budget will allow or prohibit an accountant whether it can track a
  financial transaction into an account in the Chart of account or not.
</p>

<p class="by-article-para">
  For example: XYZ Inc. wants to purchase 4 vehicles for its delivery services
  for Rs. 30,000 each in the year 2022. The accountant might record it into
  Vehicles Account per the Chart of Accounts, but, when the accountant wants to
  check in the budget details, The budget amount for Vehicles Account is Rs
  25,000 per vehicle. The accountant refuses to record the transaction and asks
  related purchasing employees or owner of the business to adjust the budget. It
  might require for the business owner to invest more in the capital or attain
  loan from a financial institution.
</p>

<h2 class="by-article-heading">Collecting Evidence</h2>

<p class="by-article-para">
  Every financial transaction needs a legal document to be approved by purchaser
  and seller, or which can be based for the transaction’s incurrence.
</p>

<p class="by-article-para">
  All the evidence are designed to be sufficiently and uniquely trackable.
  That’s why, proper record tracking lists are necessary to keep the track of
  these records in one place.
</p>

<p class="by-article-para">
  Examples include Invoice, Payment Receipt, Cheque, Bank Statement, Voucher,
  Purchase Order or Contract etc.
</p>

<h2 class="by-article-heading">Journal</h2>

<p class="by-article-para">
  At the day end, Bookkeeper records all the transactions into a book called
  Journal.
</p>

<p class="by-article-para">
  Tracking list are all the example of “<b>Single-Entry</b>” accounting system,
  which is also traditional system of accounting.
  <b
    >A Journal is a Book of Accounts which complies Debit-Credit system (also
    called Double-Entry recording system)</b
  >.
</p>

<p class="by-article-para">
  Small business might integrate tracking list into Journal by adding more
  columns in the Journal.
</p>

<p class="by-article-para">
  For example, a business pays salaries to 20 employees through cash of total
  Rs. 200,000.
</p>

<p class="by-article-para">
  In the tracking list, the business might list all the details of an employee,
  such as, employee ID, national ID, address, tax information, hire dates,
  designations, departments, shift timing, hours worked, leave days, deductions
  from salaries, etc.
</p>

<p class="by-article-para">
  In journal, the business only records: Date of transaction, Total Amount,
  Total Tax, paid through Bank or Cash, Account number, etc.
</p>

<h2 class="by-article-heading">Ledger</h2>

<p class="by-article-para">
  At the day end, Bookkeeper provides a “Daily Summary” to Accountant, such as
  total salaries, total paid through check, total paid through cash, equipment
  amount purchased on cash, total payable to Mr. X, total payable to Mr. Y,
  total capital received from owner(s), total loan received, total installment
  paid.
</p>

<p class="by-article-para">
  The accountant reconciles all these information with tracking lists and
  verifies all the evidence.
</p>

<p class="by-article-para">
  After verification process has been completed, the accountant records this
  information into another book called “<b>Ledger</b>". This process of
  recording information from Journal into the Ledger is called “<b>Posting</b>”.
</p>

<p class="by-article-para">
  Now, the information is fully ready to be summarized and to communicate with
  owner(s) and stakeholders of the business.
</p>

<p class="by-article-para">
  But before that, the accountant must verify all the records in the Ledger, as
  well.
</p>

<h2 class="by-article-heading">Trial Balance</h2>

<p class="by-article-para">
  Accountant has also got balance amounts from the ledger book. It is time to
  enter those balance amounts into a sheet called Trial Balance.
</p>

<p class="by-article-para">
  For example, A business wants to prepare a financial statement for a period of
  One Year e.g. 2022. Its accountant produces trial balance for the following
  totals from the ledger.
</p>

<table class="by-border-all">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading" style="padding-right: 100px">
        Account Names
      </th>
      <th class="by-table-column-heading">Amount (Rupees)</th>
      <th class="by-table-column-heading">Amount (Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr>
      <td class="by-text-bright by-text-left"><b>Sales</b></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell">200,000</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Purchases</b></td>
      <td class="by-number-cell">180,000</td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Rent</b></td>
      <td class="by-number-cell">30,000</td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Wages</b></td>
      <td class="by-number-cell">12,000</td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Land</b></td>
      <td class="by-number-cell">500,000</td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Vehicle</b></td>
      <td class="by-number-cell">36,000</td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Owners’ Capital</b></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell">400,000</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left"><b>Bank Loan</b></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell">150,000</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left">
        <b>Payable to Mr. A</b>
      </td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell">8,000</td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell by-bg-color-bright-light by-border-top-footer by-text-bright">
    <tr>
      <td class="by-Text-Align-Left"><b>Total</b></td>
      <td class="by-number-cell"><b>758,000</b></td>
      <td class="by-number-cell"><b>758,000</b></td>
    </tr>
  </tfoot>
</table>

<br />
<h2 class="by-article-heading">Financial Statement</h2>

<p class="by-article-para">
  All the balances in the trial balances are entered into financial statements.
  Mainly businesses make three types of financial statements:
  <b>Balance sheet</b>, <b>Income Statement</b> and
  <b>Statement of Owner’s equity</b>.
</p>

<p class="by-article-para">
  If list of accounts is very lengthy, then, accountants total-up similar
  accounts and enters them into financial statement. That’s why, financial
  statements are also called Summary statements.
</p>

<h2 class="by-article-heading">Closing Entries</h2>

<p class="by-article-para">
  At the end of every financial year, accountant of a business closes its book
  of accounts. This means that the total of all the income and expenses
  mentioned in the trial balance is posted into the capital account. This
  process zero-down all the income and expenses account (if not zero-ed before)
  and transfers the balances into owners’ capital account.
</p>

<p class="by-article-para">
  Owner’s drawing account is also closed at the end of the financial year.
</p>
