<div class="by-container">

    <div class="hero">
        <div class="thumbnails">
          <img
            class="babaMazari"
            src="../../assets/hazara/thumbnails/LeaderBabaMazari.jpg"
            alt="shaheed baba mazari picture"
          />
         
        </div>
        <!-- ========== END OF thumbnails -->
    
        <div class="title">
          <div class="bg"></div>
    
          <h1 class="">BE BRIGHTEST</h1>
          <br />
          <h2 class="">FOR BRIGHT FUTURE</h2>
          <br />
          <span class="by-slogan"
            ><i>Let's build our youth to the brightest.</i></span
          >
          <br />
    
          <button class="btn btnBrightest by-PrimaryButton">
            Explore Brightest
          </button>
          <button class="btn btnMoreNews by-OrangeButton">More News</button>
        </div>
        <!-- ========== END OF title -->
    
      </div>
      <!-- ========== END OF HERO -->

</div>

