<br>


<p class="by-article-para">Accounting System <b><u>is a set of chained processes</u></b>, and those processes are measurement, summarizing, interpretation, and communication of financial information of a business.</p>

<h2 class="by-article-heading">1. Measurement of Financial Transaction and Event</h2>

<p class="by-article-para">By the definition of financial transaction or financial event, described before in Chapter "BOOKEEPING, FINANCIAL TRANSACTION & EVENT", we understand that a transaction or event, if identified through money value, will be considered as “Financial” transaction or event.</p>

<p class="by-article-para">In the old ages, before invention of money, people just exchange their goods for another commodities, and no such records were maintained. This rose many conflicts among the people. When civilizations were developing, they were quantifying or measuring things to a specific item, for example, salt and then, gold.</p>

<p class="by-article-para">Gold was becoming scarce, and it’s size became shrinking into coins, and then those coins were regularized by governments by stamping them.</p>

<p class="by-article-para">Civilizations didn’t stop on just using gold coins, they were then certifying them, and mentioning numbers on them. This led to the development of “Measurement” of a transaction or event to be “financial” in nature.</p>

<p class="by-article-para">Accountants always study and research on measurement of events in terms of money value and provide guidance to business owners and management on how to play safe to have sound operations and keep the assets of the business safe.</p>

<h2 class="by-article-heading">2. Summarizing</h2>

<p class="by-article-para">After the bookkeepers have finished recording, on daily basis, Accountants post those transactions into general ledger, which then provide balances for each type of accounts. If the business is small, then the list of account types i.e. Chart of Accounts, will be shorter as compared to larger business. The accountant will put those balances into a summary accounts or reports, these summary accounts will be easily translated into financial statements.</p>

<p class="by-article-para">Doing closing entries is the process of summarizing.</p>

<h2 class="by-article-heading">3. Interpretation</h2>

<p class="by-article-para">An accountant’s report or document cannot be easy for everyone to understand; thus, the accountant needs to further interpret the financial information into easy-to-understand reports. Income statement, balance sheet, Statement of Owner’s Equity and Statement of Cash Flow are the reports which is used in this process.</p>

<p class="by-article-para">Accountant does not stop there, it will further provide analysis on conditions of business debts progress, asset liquidity, profitability of business through financial ratios and supplementary notes as annexures to those financial statements.</p>


<h2 class="by-article-heading">4. Communication</h2>

<p class="by-article-para">The financial statements are prepared not just for business’ owner or the accountant’s use only, but it will be properly signed and stamped by the business owner, copies will be shared to different government authorities, external auditors will verify if the accountant of the company has made them correctly.</p>

<p class="by-article-para">In modern computer age, these financial statements will be issued on internet which can be accessed by everyone, even the public at any time.</p>

