
<h2 class="by-article-heading">Recording</h2>
<p class="by-article-para">Accountants record all financial transactions or events of a business into the business' books of accounts.</p>

<h2 class="by-article-heading">Tracking</h2>
<p class="by-article-para">Tracking is to make a comprehensive list of tasks performed on routine basis whether the tasks is financial or non-financial. These tracking lists (simply call it “Trackers”) helps in smooth performing of the organization, helps in planning for future, decision making, monitoring and evaluation. Trackers are made in planning phases as well as based on actual needs.</p>

<p class="by-article-para">Tracking lists relate operations of business with the books of accounts.</p>

<p class="by-article-para">Here are few examples:</p>

<div class="by-article-para">
<ol class="by-list-type-square">
  <li class="by-list-item">Monthly Rent is listed on actual basis.</li>
	<ul class="by-list-type-circle">
	  <li class="by-list-item">At the end of year, organization knows how much rent they have paid. Is there any missing?</li>
	  <li class="by-list-item">How much rent have to be paid in the future?</li>
	  <li class="by-list-item">For how many premises, the organization have to pay the rent?</li>
	  <li class="by-list-item">Landlord makes claim that they haven’t receive rent for 2 months, “<span class="by-text-bright by-text-bold">A Proper</span>” tracking list can approve or deny the claim.</li>
	</ul>
 
  <li class="by-list-item">Salaries to Employees are listed on actual basis.</li>
	<ul class="by-list-type-circle">
	  <li class="by-list-item">At the end of year, organization knows how much salaries they have paid. Is there any missing?</li>
	  <li class="by-list-item">How much salaries have to be paid in the future?</li>
	  <li class="by-list-item">For how many staff, the organization have to pay the salaries?</li>
	  <li class="by-list-item">Staff make claims that they haven’t receive salaries for last month, “<span class="by-text-bright by-text-bold">A Proper</span>” tracking list can approve or deny the claim.</li>
	</ul>
</ol>
</div>