
<h2 class="by-article-heading">What Is Bookkeeping?</h2>
<p class="by-article-para">Bookkeeping is <span class="by-text-bright by-text-underline">tracking and recording</span> the <span class="by-text-bright by-text-bold">financial transactions or financial events</span> of a business organization.</p>

<h2 class="by-article-heading">Financial Transaction</h2>
<p class="by-article-para">An exchange of goods or a value of money value.</p>

<p class="by-article-para">We usually <span class="by-text-bright by-text-underline by-text-bold">receive a benefit</span> from someone or <span class="by-text-bright by-text-underline by-text-bold">providing benefit</span> to someone. When we measure those benefits (goods or service) in terms of money value, it is referred to as a financial activity or a financial transaction.</p>


<aside class="by-aside">
  <br>
<p class="by-article-para"><span class="by-text-bright by-text-bold">Explanation of </span><span class="by-text-bright by-text-underline by-text-bold">System</span></p>
<p class="by-article-para">A system is the combination of Processes achieving a Goal.</p>
<p class="by-article-para">
-	Many tasks (similar or different) are aligned/chained up in a process.<br>
-	Many processes (similar or different) are aligned/chained up in a system.
 </p>
</aside>

<div class="by-article-para">
<ul class="list-style-type-none">
  <li class="by-list-item">- Purchase or sale of goods.</li>
  <li class="by-list-item">- Buying Assets e.g. Land, building or machinery, etc.</li>
  <li class="by-list-item">- Paying Expenses e.g. Rent, salaries, insurance, taxes, etc.</li>
  <li class="by-list-item">- Realizing of Bad Debt, when debtors doesn't answer your mails and you forgive them.</li>
</ul>
</div>


<p class="by-article-para">These are the few examples of financial transactions which are an act to provide or receive benefits or both.</p>

<h2 class="by-article-heading">Financial Event</h2>

<p class="by-article-para">An <span class="by-text-bright by-text-bold">occurrence</span> of having any benefit or loss to a business organization, of something of money value.</p>


<p class="by-article-para">Here are few examples:</p>

<div class="by-article-para">
<ul class="list-style-type-none">
  <li class="by-list-item">- Provision for bad debt – the bad debts which have not happened yet; we are just cautious if it happens.</li>
  <li class="by-list-item">- Depreciation – We can’t recognize actual damages or wear and tear caused in an asset, but we anticipate, what if our asset needs any repair or change of spare parts shall require in the future, or just major change happens which can cause in loss of value in the asset, such as brand change, energy consumption problem, etc.</li>
  <li class="by-list-item">- Exchange rate gain or loss.</li>
  <li class="by-list-item">- Price fluctuation of goods or assets.</li>
  <li class="by-list-item">- Fine or Dues.</li>
</ul>
</div>