<h2 class="by-article-heading">Historical Cost Principle</h2>

<p class="by-article-para">Businesses are required to report their assets and liabilities at the “Acquisition Cost” instead of reporting “Current Market Value”.</p>


<p class="by-article-para">The stakeholders will be not confused in the market value to be “<span class="by-text-bright by-text-bold">Fair</span>” or not. </p>
<p class="by-article-para">But, Debts and Securities are allowed to report based on “<span class="by-text-bright by-text-bold">Current Market Value</span>”.</p>

<h2 class="by-article-heading">Revenue Recognition Principle</h2>

<p class="by-article-para">Businesses are required to record and report the revenue when “<span class="by-text-bright by-text-bold">Earned</span>” not when “<span class="by-text-bright by-text-bold">Cash is Received</span>” from customer(s).</p>

<p class="by-article-para">On the other hand, businesses are required record and report losses when they are actually “Incurred”.</p>


<h2 class="by-article-heading">Matching (or, Expense Recognition) Principle</h2>
<p class="by-article-para">Businesses are required to record and report <span class="by-text-bright by-text-bold">the Expenses after matching them with Revenues</span>, instead of recognizing them to the “Product is produced” or “Service is delivered”.</p>

<p class="by-article-para">For Example, there are 2 batches of computer have been produced by a company. Batch 1 is sold in the Year 1 and batch 2 is planned to be sold in next year.</p>

<p class="by-article-para">If the reports are prepared for year 1; only expenses of batch 1, because batch 2 has not provided any revenue to the business in year 1.</p>

<p class="by-article-para">This evaluation provides better overview of a business’ performance in Year 1.</p>


<h2 class="by-article-heading">Full Disclosure Principle</h2>
<p class="by-article-para">Businesses are required to provide “<span class="by-text-bright by-text-bold">necessary information</span>” so that the stakeholders of the company are able to make informed decisions about the company.</p>

<p class="by-article-para">This principle does not require to release every single information in their reports.</p>

<p class="by-article-para">Better example is that a company own 20 vehicles. According to Full Disclosure Principle, it is not required to reveal the name, types, model, engine number, fuel consumption rate, etc in the financial statement.</p>

<p class="by-article-para">Full Disclosure Principle, however, requires the business to mention valuation method, disposal and costing in a separate schedule along-with the financial statement as a supplementary note.</p>

