.by-container {
    // background-color: var(--Org-Color) !important;
    // position: relative;
    // border-top: dashed 1.2px var(--Org-Color);
    padding: 15px 20px;

    .by-brand {
        text-decoration: none;

        font-size: 1.5rem !important;
        // margin-top: 15px;
        margin-left: 15px;

        // top: 0px;
        // left: 20px;
        z-index: 9999;
        // position: fixed;

        .by-brand-icon img {
            // position: absolute;
            width: 70px;
            height: auto;
            text-decoration: none !important;
            // margin-top: -10px;

            top: 0px;
            left: 20px;
        }

        .by-brand-Bright {
            text-decoration: none !important;
            color: var(--Bright-Color);
            // position: absolute;
            top: 6px;
            left: 70px;
        }

        .by-brand-Youth {
            text-decoration: none !important;
            color: var(--Youth-Color);
            // position: absolute;
            top: 6px;
            left: 135px;
        }

        .by-brand-Org {
            text-decoration: none !important;
            color: var(--Org-Color);
            font-size: 0.95rem !important;
            // position: absolute;
            top: 15px;
            left: 197px;
        }
    }

    .by-liststyle {
        list-style-type: none;

        .by-list-a {
            position: relative;
            text-decoration: none;
            color:  var(--Org-Color);
            line-height: 35px;

            &::after {
                position: absolute;
                content: "";
                width: 40%;
                height: 2.5px !important;
                background: var(--Bright-Color);
                left: 0;
                bottom: 0;

                transform: scale(0, 1);
                transition: transform 0.3s ease;
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }
    }
}