<div class="by-container">

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="by-brand">
                <a class="by-brand-icon" href="#">
                  <img src="../../../assets/icon.svg" alt="Bright Youth Icon">
                </a>
                <a class="by-brand-Bright" href="#">Bright</a>
                <a class="by-brand-Youth" href="#">Youth</a>
                <a class="by-brand-Org" href="#">.org</a>
              </div>
        </div>
        <div class="col-2">
            <ul class="by-liststyle">
                <li><a class="by-list-a" routerLink="./home">Home</a></li>
                <li><a class="by-list-a" routerLink="./shopping">Shop Now</a></li>
                <li><a class="by-list-a" routerLink="./courses">Courses</a></li>
                <li><a class="by-list-a" routerLink="./infozime">Infozime</a></li>
                <li><a class="by-list-a" routerLink="./tools">Tools</a></li>
                <li><a class="by-list-a" routerLink="./aboutUs">About Us</a></li>
            </ul>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>


</div>