
<br>
<p class="by-article-para">Journal is divided further into <b>Eight sub-journals</b> to manage large number of transactions.</p>




 <ol>
  <li class="by-list-item">Cash Receipt Book</li>
  <li class="by-list-item">Cash Payment Book</li>
  <li class="by-list-item">Purchase Book</li>
  <li class="by-list-item">Purchase Return Book</li>
  <li class="by-list-item">Sales Book</li>
  <li class="by-list-item">Sales Return Book</li>
  <li class="by-list-item">General Journal</li>
  <li class="by-list-item">Petty Cash Book</li>
</ol> 