
<br>
<p class="by-article-para">A business records all the <b>credit purchases</b> from suppliers into Purchase Book.</p>


<p class="by-article-para">Below is a format of a page in Purchase Journal book.</p>


<br>

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="6">JOURNAL – PURCHASE BOOK</th>
    </tr>
    <tr class=" by-table-column-heading by-border-bottom">
      <th>Transaction Date</th>
      <th style="width:150px;">Particulars/Supplier</th>
      <th style="width:120px;">Supplier Invoice No.</th>
      <th style="width:120px;">Purchases <br>(Rupees)</th>
      <th style="width:120px;">Sales Tax <br>(Rupees)</th>
      <th style="width:120px;">Accounts Payable <br>(Rupees)</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

    <tr class="by-border-bottom">
	<td class="by-text-center">Mar 09, 2022</td>
	<td class="by-text-left">Asif & Co.</td>
	<td class="by-text-center"><b>1551</b></td>
	<td class="by-number-cell">150,000</td>
	<td class="by-number-cell">7,500</td>
	<td class="by-number-cell">157,500</td>
</tr>
<tr class="by-border-bottom">
	<td class="by-text-center">Mar 09, 2022</td>
	<td class="by-text-left">Shehzad Store</td>
	<td class="by-text-center"><b>2356</b></td>
	<td class="by-number-cell">100,000</td>
	<td class="by-number-cell">5,000</td>
	<td class="by-number-cell">105,000</td>
</tr>
 <tr>
	<td class="by-text-center">Mar 09, 2022</td>
	<td class="by-text-left">Asma Boutique</td>
	<td class="by-text-center"><b>4455</b></td>
	<td class="by-number-cell">250,000</td>
	<td class="by-number-cell">12,500</td>
	<td class="by-number-cell">262,500</td>
</tr>

</tbody>


<tfoot class="by-table-cell by-border-top-footer">
    <tr class="by-table-cell by-bg-color-bright-light by-text-bright">
	<td class="by-text-center">Dec 31, 2022</td>
	<td class="by-text-left "><b>Total Purchased:</b></td>
	<td class="by-text-center">---</td>
	<td class="by-number-cell">500,000</td>
	<td class="by-number-cell">25,000</td>
	<td class="by-number-cell">525,000</td>
</tr>

</tfoot>
</table>


<br>
<h2 class="by-article-heading">Entry in General Journal</h2>

<p class="by-article-para">At the end of the month, we will make an accounting entry into General Journal book, so that we can then, post them into Ledger.</p>


<br>

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="7">GENERAL JOURNAL</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width:150px;">Transaction Type</th>
      <th style="width:200px;">Account Name</th>
      <th style="width:50px;">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

    <tr class="by-border-bottom">
	<td class="by-text-center" rowspan="6">Dec 31. 2022</td>
	<td class="by-text-center">PURCHASE</td>
	<td class="by-text-left">Inventory purchased</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell">500,000</td>
	<td class="by-number-cell"></td>
</tr>
<tr class="by-border-bottom">
	<td class="by-text-center">LIABILITIES</td>
	<td class="by-text-left">Sales Tax</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell">25,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr class="by-border-bottom">
	<td class="by-text-center">LIABILITIES</td>
	<td class="by-text-left" style="padding-left:40px">Asif & Co.</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">157,500</td>
</tr>
<tr class="by-border-bottom">
	<td class="by-text-center">LIABILITIES</td>
	<td class="by-text-left" style="padding-left:40px">Shehzad Store</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">105,000</td>
</tr>
<tr class="by-border-bottom">
	<td class="by-text-center">LIABILITIES</td>
	<td class="by-text-left" style="padding-left:40px">Asma Boutique</td>
	<td class="by-text-center"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">262,500</td>
</tr>

<tr class="by-border-description-cell">
	<td colspan="3"><i>Credit Purchases during the year 2022.</i></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>

</tr>




</tbody>
</table>


<br>
<br>