<br>
<p class="by-article-para">Accounting can be sub-divided into different tasks per the requirement of business’ types, operations, and internal and external stakeholders.</p>

<h2 class="by-article-heading">Financial Accounting</h2>

<p class="by-article-para">Accountant’s task relating to financial accounting is that the accountant summarizes all the financial transactions and prepares financial statements.</p>

<p class="by-article-para">These financial statements then can be used stakeholders such as owners of the business, employees, government agencies, as well as investors and public.</p>

<h2 class="by-article-heading">Managerial Accounting</h2>

<p class="by-article-para">Accountant’s task relating to managerial accounting is that the accountant uses the financial accounting data and prepares different reports or summaries for the management of the business. Management needs such information for further planning, making business decisions, directing resources of the business and operations and evaluations of current system and plans.</p>

<p class="by-article-para">For example, budget management requires to have proper budgeting figures side by side with actual cost amount to see how business is performing.</p>

<h2 class="by-article-heading">Cost Accounting</h2>

<p class="by-article-para">Accountant’s task relating to cost accounting is that they provide management with the information about cost of producing a good or service.</p>

<p class="by-article-para">Business needs such information in smooth budgeting and controlling for the production costs. Necessary information is required by management which include purchasing raw-materials, plant and machinery, administrator and marketing expenditures, storage costs to the paying of labors wages and distribution of goods in the market.</p>

<p class="by-article-para">Besides that, cost accountant also provides necessary guidance to a business to make strategies to minimize costs of production and increase revenue.</p>

<h2 class="by-article-heading">Tax Accounting</h2>

<p class="by-article-para">Accountant’s task relating to tax accounting is that they provide services to a business in the prepare and filing of tax reports according to Tax authorities according to Tax Law of the country.</p>

<p class="by-article-para">Besides that, tax accountant also provides necessary guidance to a business to make strategies to minimize tax liabilities.</p>
