
<br>
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 1:</b> Starting of a Business
</p>


<p class="by-article-para">We are provided with below:</p>


 <ol class="by-padding-left100">
  <li class="by-list-item">Mr. A started a business with Cash Rs. 1,000,000.</li>
  <li class="by-list-item">Received loan from Bank Rs. 700,000.</li>
  <li class="by-list-item">Purchased Land Rs. 200,000 and paid Cash in full.</li>
  <li class="by-list-item">Purchased Building Rs. 300,000 and paid Cash in full.</li>
  <li class="by-list-item">Purchased Vehicle Rs. 150,000 and paid Cash in full.</li>
  <li class="by-list-item">Purchased Furniture Rs. 80,000 and paid Cash in full.</li>
  <li class="by-list-item">Purchased Goods for Resale Rs. 600,000 and paid Cash in full</li>
</ol> 


<p class="by-article-para by-text-bright"><b>Solution:</b> Accounting equation for Mr. A’s business.</p>

<br>

<table class="by-border-all by-padding-left100">
  <thead class="by-table-column-heading by-border-bottom by-text-center">
    <tr class="by-border-all">
      <th class="by-table-heading by-border-right" rowspan="2">Transaction #</th>
      <th class="by-table-heading" colspan="11">Assets</th>
      <th class="by-table-heading">=</th>
      <th class="by-table-heading">Liabilities</th>
      <th class="by-table-heading">+</th>
      <th class="by-table-heading">Owner's Equity</th>
    </tr>
  <tr class="by-border-all">
      <th class="by-table-column-heading">Cash</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Land</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Building</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Vehicle</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Furniture</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Inventory</th>
      <th class="by-table-column-heading">=</th><th class="by-table-column-heading">Bank</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Mr. A</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>1.1</b></td>
	<td class="by-number-cell">1,000,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">1,000,000</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>1.2</b></td>
	<td class="by-number-cell">700,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">700,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>1.3</b></td>
	<td class="by-number-cell">(200,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">200,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>1.4</b></td>
	<td class="by-number-cell">(300,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">300,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>1.5</b></td>
	<td class="by-number-cell">(150,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">150,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>1.6</b>
	</td><td class="by-number-cell">(80,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">80,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-alls">
	<td class="by-text-center by-border-right"><b>1.7</b></td>
	<td class="by-number-cell">(600,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">600,000</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>




</tbody>

<tfoot class="by-table-cell by-border-top-footer">
<tr class="by-text-youth by-text-bold">
	<td class="by-text-left by-border-right">Sub-total:</td>
	<td class="by-number-cell">370,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">200,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">300,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">150,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">80,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">600,000</td>
	<td class="by-text-center">=</td><td class="by-number-cell">700,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">1,000,000</td>
</tr>

<tr class="by-table-cell by-bg-color-bright-light by-text-bright by-border-top">
	<td class="by-text-left by-border-right">Grand Total:</td>
	<td class="by-text-center" colspan="11">1,700,000</td>
	<td class="by-text-center">=</td>
	<td class="by-text-center" colspan="3">1,700,000</td>
</tr>

</tfoot>

</table>


<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->



<br>
<br>
<br>


<br>
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 2:</b> Mr. A’s business – First Year  - Sales and Expenses
</p>



<p class="by-article-para">We are provided with below:</p>


 <ol class="by-padding-left100">
  <li class="by-list-item">Sold goods and received Cash Rs. 500,000.</li>
  <li class="by-list-item">Paid Rent Rs. 80,000.</li>
  <li class="by-list-item">Paid Salaries Rs. 70,000.</li>
  <li class="by-list-item">Paid Electricity Bill Rs. 30,000.</li>
  <li class="by-list-item">Paid Vehicle Fuel Rs. 40,000.</li>
  <li class="by-list-item">Paid Furniture repair Rs. 12,000.</li>
  <li class="by-list-item">Paid Building repair Rs. 8,000.</li>
  <li class="by-list-item">Paid for Stationary Rs. 7,000.</li>
</ol> 


<p class="by-article-para by-text-bright"><b>Solution:</b> Accounting equation for Mr. A’s business.</p>

<br>

<table class="by-border-all by-padding-left100">
	<thead class="by-table-column-heading by-border-bottom by-text-center">
	  <tr class="by-border-all">
      <th class="by-table-heading by-border-right" rowspan="2">Transaction #</th>
      <th class="by-table-heading" colspan="11">Assets</th>
      <th class="by-table-heading">=</th>
      <th class="by-table-heading">Liabilities</th>
      <th class="by-table-heading">+</th>
      <th class="by-table-heading">Owner's Equity</th>
    </tr>
	<tr class="by-border-all">
      <th class="by-table-column-heading">Cash</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Land</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Building</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Vehicle</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Furniture</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Inventory</th>
      <th class="by-table-column-heading">=</th><th class="by-table-column-heading">Bank</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Mr. A</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

	<tr class="by-border-all">
		<td class="by-text-center by-border-right"><b>2.1</b></td>
	<td class="by-number-cell">500,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(500,000)</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>2.2</b></td>
	<td class="by-number-cell">(80,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(80,000)</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>2.3</b></td>
	<td class="by-number-cell">(70,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(70,000)</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>2.4</b></td>
	<td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(30,000)</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>2.5</b>
	</td><td class="by-number-cell">(40,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(40,000)</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>2.6</b></td>
	<td class="by-number-cell">(8,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(8,000)</td>
</tr>

<tr>
	<td class="by-text-center by-border-right"><b>2.7</b></td>
	<td class="by-number-cell">(7,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(7,000)</td>
</tr>

</tbody>

<tfoot class="by-table-cell by-border-top-footer">
	<tr class="by-text-youth by-text-bold">
		<td class="by-text-left by-border-right">Sub-total:</td>
	<td class="by-number-cell">265,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(500,000)</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(235,000)</td>
</tr>

<tr class="by-table-cell by-bg-color-bright-light by-text-bright by-border-top">
	<td class="by-text-left by-border-right">Grand Total:</td>
	<td class="by-text-center" colspan="11"><b>(235,000)</b></td>
	<td class="by-text-center">=</td>
	<td class="by-text-center" colspan="3"><b>(235,000)</b>
</tr>
</tfoot>

</table>

<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->



<br>
<br>
<br>
<p class="by-example-question by-article-para by-border-top by-text-org">
	<b>Exercise 3:</b> Mr. A’s business after – First Year – Purchase Return &  Sales Return
</p>


<p class="by-article-para">We are provided with below:</p>


 <ol class="by-padding-left100">
  <li class="by-list-item">Goods returned by Customers after found defective Rs. 20,000.</li>
  <li class="by-list-item">Goods found defective and returned to suppliers, Mr. Abbas,  Rs. 30,000.</li>
</ol> 


<p class="by-article-para by-text-bright"><b>Solution:</b> Accounting equation for Mr. A’s business.</p>
 
<br>
<table class="by-border-all by-padding-left100">
	<thead class="by-table-column-heading by-border-bottom by-text-center">
	  <tr class="by-border-all">
		<th class="by-table-heading by-border-right" rowspan="2">Transaction #</th>
      <th class="by-table-heading" colspan="13">Assets</th>
      <th class="by-table-heading">=</th>
      <th class="by-table-heading">Liabilities</th>
      <th class="by-table-heading">+</th>
      <th class="by-table-heading">Owner's Equity</th>
    </tr>
	<tr class="by-border-all">
      <th class="by-table-column-heading">Cash</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Land</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Building</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Vehicle</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Furniture</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Inventory</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Debtor (Receivable)</th>
      <th class="by-table-column-heading">=</th><th class="by-table-column-heading">Bank</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Mr. A</th>
    </tr>
 </thead>

<tbody class="by-table-cell">

	<tr class="by-border-all">
		<td class="by-text-center by-border-right"><b>3.1</b></td>
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(20,000)</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(20,000)</td>
</tr>

<tr>
	<td class="by-text-center by-border-right"><b>3.2</b></td>
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>


</tbody>

<tfoot class="by-table-cell by-border-top-footer">
	<tr class="by-text-youth by-text-bold">
		<td class="by-text-left by-border-right">Sub-total:</td>
	
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(20,000)</td>
	<td class="by-text-center">=</td><td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(20,000)</td>
</tr>


<tr class="by-table-cell by-bg-color-bright-light by-text-bright by-border-top">
	<td class="by-text-left by-border-right">Grand Total:</td>
	<td class="by-text-center" colspan="13"><b>(50,000)</b></td>
	<td class="by-text-center">=</td>
	<td class="by-text-center" colspan="3"><b>(50,000)</b>
</tr>
</tfoot>

</table>

<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->



<br>
<br>
<br>

<p class="by-example-question by-article-para by-border-top by-text-org">
	<b>Exercise 4:</b> Mr. A’s business – First Year  - Sales on Credit, Purchase on Credit, Collection of Debt, Payment of Debt.
  </p>


<p class="by-article-para">We are provided with below:</p>


 <ol class="by-padding-left100">
  <li class="by-list-item">Sold goods Rs. 780,000 still receivable from Customers, 3 customers.</li>
  <li class="by-list-item">Purchased goods Rs. 500,000 still payable to Suppliers, 3 suppliers.</li>
  <li class="by-list-item">Received cash of Rs. 20,000 from a customer, Mr. Ehsan.</li>
  <li class="by-list-item">Paid cash of Rs. 30,000 to a supplier, XYZ company.</li>
  <li class="by-list-item">Paid cash of Rs. 100,000 to bank, ABC Bank, for 1st year’s 12 month’s installment.</li>
</ol> 


<p class="by-article-para by-text-bright"><b>Solution:</b> Accounting equation for Mr. A’s business.</p>

<br>

<table class="by-border-all by-padding-left100">
	<thead class="by-table-column-heading by-border-bottom by-text-center">
	  <tr class="by-border-all">
		<th class="by-table-heading by-border-right" rowspan="2">Transaction #</th>
      <th class="by-table-heading" colspan="13">Assets</th>
      <th class="by-table-heading">=</th>
      <th class="by-table-heading" colspan="3">Liabilities</th>
      <th class="by-table-heading">+</th>
      <th class="by-table-heading">Owner's Equity</th>
    </tr>
	<tr class="by-border-all">
      <th class="by-table-column-heading">Cash</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Land</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Building</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Vehicle</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Furniture</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Inventory</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Debtor (Receivable)</th>
      <th class="by-table-column-heading">=</th><th class="by-table-column-heading">Bank</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Creditor (Payables)</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Mr. A</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

	<tr class="by-border-all">
		<td class="by-text-center by-border-right"><b>4.1</b></td>
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(780,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">780,000</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>4.2</b></td>
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">500,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">500,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>4.3</b></td>
	<td class="by-number-cell">20,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(20,000)</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-border-all">
	<td class="by-text-center by-border-right"><b>4.4</b></td>
	<td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(30,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr>
	<td class="by-text-center by-border-right"><b>4.5</b></td>
	<td class="by-number-cell">(100,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(100,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

</tbody>


<tfoot class="by-table-cell by-border-top-footer">
	<tr class="by-text-youth by-text-bold">
		<td class="by-text-left by-border-right">Sub-total:</td>
	<td class="by-number-cell">(110,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">(280,000)</td>
	<td class="by-text-center">+</td><td class="by-number-cell">760,000</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">370,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-table-cell by-bg-color-bright-light by-text-bright by-border-top">
	<td class="by-text-left by-border-right">Grand Total:</td>
	<td class="by-text-center" colspan="13"><b>370,000</b></td>
	<td class="by-text-center">=</td>
	<td class="by-text-center" colspan="5"><b>370,000</b>
</tr>
</tfoot>

</table>


<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->

<br>
<br>
<br>
<p class="by-example-question by-article-para by-border-top by-text-org">
	<b>Exercise 5:</b> Mr. A’s business – First Year  - To Record Profit on Sales.
</p>


<p class="by-article-para">We are provided with below:</p>


 <ol class="by-padding-left100">
  <li class="by-list-item">Business received profit Rs. 50,000 on goods sold to customers. Let’s consider, all the profits were included on the cash sales only.</li>
</ol> 


<p class="by-article-para by-text-bright"><b>Solution:</b> Accounting equation for Mr. A’s business.</p>

<br>

<table class="by-border-all by-padding-left100">
	<thead class="by-table-column-heading by-border-bottom by-text-center">
	  <tr class="by-border-all">
		<th class="by-table-heading by-border-right" rowspan="2">Transaction #</th>
      <th class="by-table-heading" colspan="13">Assets</th>
      <th class="by-table-heading">=</th>
      <th class="by-table-heading" colspan="3">Liabilities</th>
      <th class="by-table-heading">+</th>
      <th class="by-table-heading">Owner's Equity</th>
    </tr>
  <tr>
      <th class="by-table-column-heading">Cash</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Land</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Building</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Vehicle</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Furniture</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Inventory</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Debtor (Receivable)</th>
      <th class="by-table-column-heading">=</th><th class="by-table-column-heading">Bank</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Creditor (Payables)</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Mr. A</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

<tr>
	<td class="by-text-center by-border-right"><b>5.1</b></td>
	<td class="by-number-cell">50,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">50,000</td>
</tr>

</tbody>

<tfoot class="by-table-cell by-border-top-footer">
	<tr class="by-text-youth by-text-bold">
		<td class="by-text-left by-border-right">Sub-total:</td>
	<td class="by-number-cell by-color-youth">50,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell by-color-youth">50,000</td>
</tr>

<tr class="by-table-cell by-bg-color-bright-light by-text-bright by-border-top">
	<td class="by-text-left by-border-right">Grand Total:</td>
	<td class="by-text-center" colspan="13"><b>50,000</b></td>
	<td class="by-text-center">=</td>
	<td class="by-text-center" colspan="5"><b>50,000</b>
</tr>
</tfoot>

</table>

<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->
<!-- ===================================================== -->

<br>
<br>
<br>
<p class="by-example-question by-article-para by-border-top by-text-org">
	<b>Exercise 6:</b> Mr. A’s business – First Year  - SUMMARY
</p>



<p class="by-article-para by-text-bright"><b>Solution:</b> Accounting equation for Mr. A’s business.</p>

<br>

<table class="by-border-all by-padding-left100">
	<thead class="by-table-column-heading by-border-bottom by-text-center">
	  <tr class="by-border-all">
		<th class="by-table-heading by-border-right" rowspan="2">Transaction #</th>
      <th class="by-table-heading" colspan="13">Assets</th>
      <th class="by-table-heading">=</th>
      <th class="by-table-heading" colspan="3">Liabilities</th>
      <th class="by-table-heading">+</th>
      <th class="by-table-heading">Owner's Equity</th>
    </tr>
	<tr class="by-border-all">
      <th class="by-table-column-heading">Cash</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Land</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Building</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Vehicle</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Furniture</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Inventory</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Debtor (Receivable)</th>
      <th class="by-table-column-heading">=</th><th class="by-table-column-heading">Bank</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Creditor (Payables)</th>
      <th class="by-table-column-heading">+</th><th class="by-table-column-heading">Mr. A</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

<tr class="by-text-bright by-text-bold by-border-bottom">
	<td class=" by-text-center">Opening Balance</td>
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

<tr class="by-text-youth by-border-bottom">
	<td class=" by-text-center by-text-bold">Additions</td>
	<td class="by-number-cell">2,270,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">200,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">300,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">150,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">80,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">690,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">80,000</td>
	<td class="by-text-center">=</td><td class="by-number-cell">700,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">90,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">1,050,000</td>
</tr>


<tr class="by-text-youth by-border-bottom">
	<td class=" by-text-center by-text-bold">Deductions</td>
	<td class="by-number-cell">675,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">200,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">300,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">150,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">80,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">80,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">40,000</td>
	<td class="by-text-center">=</td><td class="by-number-cell">700,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">30,000</td>
	<td class="by-text-center">+</td><td class="by-number-cell">795,000</td>
</tr>


<tr class="by-text-bright by-text-bold">
	<td class=" by-text-center">Closing Balance</td>
	<td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">=</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
	<td class="by-text-center">+</td><td class="by-number-cell">0</td>
</tr>

</tbody>

<tfoot class="by-table-cell by-border-top-footer">

<tr class="by-table-cell by-bg-color-bright-light by-text-bright by-text-bold">
	<td class="by-text-left">Grand Total:</td>
	<td class="by-text-center" colspan="13">1,525,000</td>
	<td class="by-text-center">=</td>
	<td class="by-text-center" colspan="5">1,525,000</td>
</tr>
</tfoot>

</table>
