<br>
<p class="by-article-para">Let’s prepare a Balance Sheet for the trial balance which we have already prepared in "TRIAL BALANCE - EXERCISE” chapter</p>


<table class="by-border-all">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading">
        <th class="by-text-center" colspan="5">MR. A AND COMPANY <br>BALANCE SHEET</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
        <th class="by-text-center" colspan="5">as at December 31, 2022</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
        <th colspan="3"></th>
      <th style="width:120px;">Rupees</th>
      <th style="width:120px;">Rupees</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

<tr>
	<td class="by-text-bright by-text-left by-text-bold" colspan="3">ASSET</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left by-text-bold" colspan="2"  style="padding-left:50px;">NON-CURRENT ASSETS</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>



<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Land</td>
	<td class="by-number-cell">200,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Building</td>
	<td class="by-number-cell">300,000</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Vehicle</td>
	<td class="by-number-cell">150,000</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Machinery</td>
	<td class="by-number-cell">0</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Equipment</td>
	<td class="by-number-cell">0</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Furniture</td>
	<td class="by-number-cell  by-border-bottom-youth-single">80,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr class="by-text-youth">
	<td class="by-text-youth by-text-center"></td>
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:80px;" colspan="2"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold">730,000</td>
</tr>





<tr>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left by-text-bold" colspan="2"  style="padding-left:50px;">CURRENT ASSETS</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>



<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Cash</td>
	<td class="by-number-cell">714,150</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Cash at Bank</td>
	<td class="by-number-cell">0</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Accounts Receivable</td>
	<td class="by-number-cell">751,900</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Supplies</td>
	<td class="by-number-cell">0</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Prepaid Rent</td>
	<td class="by-number-cell">0</td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Inventory</td>
	<td class="by-number-cell  by-border-bottom-youth-single">0</td>
	<td class="by-number-cell"></td>
</tr>

<tr class="by-text-youth">
	<td class="by-text-youth by-text-center"></td>
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:80px;" colspan="2"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold by-border-bottom-youth-single">1,466,050</td>
</tr>



<tr class="by-table-cell by-bg-color-bright-light by-text-bright">
	<td class="by-text-bright by-text-left" colspan="4" style="padding-left:80px;"><b>TOTAL ASSETS</b></td>
	<td class="by-number-cell  by-border-bottom-double"><b>2,196,050</b></td>
</tr>

<tr style="height: 30px;">
    <td></td>
    </tr>
    
<tr>
	<td class="by-text-left"></td>
	<td class="by-text-bright by-text-left by-text-bold" colspan="2">LIABILITIES</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Bank Loan</td>
	<td class="by-number-cell">600,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Accounts Payable</td>
	<td class="by-number-cell">465,000</td>
	<td class="by-number-cell"></td>
</tr>


<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Income Tax</td>
	<td class="by-number-cell by-border-bottom-youth-single">-13,100</td>
	<td class="by-number-cell"></td>
</tr>


<tr class="by-text-youth">
	<td class="by-text-youth by-text-center"></td>
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:50px;"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold">1,051,900</td>
</tr>



<tr>
	<td class="by-text-left"></td>
	<td class="by-text-bright by-text-left by-text-bold" colspan="2">OWNER’S EQUITY</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Mr. A’s Equity</td>
	<td class="by-number-cell">1,000,000</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Retained Earnings</td>
	<td class="by-number-cell">0</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left"></td>
	<td class="by-text-left"></td>
	<td class="by-text-youth by-text-left">Profit</td>
	<td class="by-number-cell by-border-bottom-youth-single">144,150</td>
	<td class="by-number-cell"></td>
</tr>

<tr class="by-text-youth">
	<td class="by-text-youth by-text-center"></td>
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:50px;"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold by-border-bottom-youth-single">1,144,150</td>
</tr>



</tbody>

<tfoot class="by-table-cell">

<tr class="by-table-cell by-bg-color-bright-light by-text-bright">
	<td class="by-text-bright by-text-left" colspan="4" style="padding-left:100px;"><b>TOTAL LIAIBLITES + OWNER’S EQUITY</b></td>
	<td class="by-number-cell by-border-bottom-double"><b>2,196,050</b></td>
</tr>
<tr style="height: 30px;">
<td></td>
</tr>
</tfoot>

</table>

<br>
<br>