<br />
<p class="by-article-para">
  A business records all the <b>goods returned by customers</b> into Sales
  Return Book.
</p>

<p class="by-article-para">
  Below is a format of a page in Purchase Return Journal book.
</p>

<br />

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="7">JOURNAL – SALES RETURN BOOK</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th>Transaction Date</th>
      <th style="width: 150px">Particulars/Customer</th>
      <th style="width: 120px">Debit Note No.</th>
      <th style="width: 120px">Credit Note No.</th>
      <th style="width: 120px">Sales Return <br />(Rupees)</th>
      <th style="width: 120px">Sales Tax <br />(Rupees)</th>
      <th style="width: 120px">Accounts Receivable <br />(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 23, 2022</td>
      <td class="by-text-left">Ms. Rehana</td>
      <td class="by-text-center"><b>6601</b></td>
      <td class="by-text-center"><b>2239</b></td>
      <td class="by-number-cell">19,200</td>
      <td class="by-number-cell">800</td>
      <td class="by-number-cell">20,000</td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell by-border-top-footer">
    <tr
      class="by-table-cell by-bg-color-bright-light by-text-bright by-text-bold"
    >
      <td class="by-text-center">Dec 31, 2022</td>
      <td class="by-text-align-left"><b>Total Sales Returned:</b></td>
      <td class="by-number-cell">---</td>
      <td class="by-number-cell">---</td>
      <td class="by-number-cell">19,200</td>
      <td class="by-number-cell">800</td>
      <td class="by-number-cell">20,000</td>
    </tr>
  </tfoot>
</table>

<br />
<h2 class="by-article-heading">Entry in General Journal</h2>

<p class="by-article-para">
  At the end of the month, we will make an accounting entry into General Journal
  book, so that we can then, post them into Ledger.
</p>

<br />

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="6">GENERAL JOURNAL</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">Transaction Type</th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th style="width: 120px">Debit (Rupees)</th>
      <th style="width: 120px">Credit (Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="4">Dec 31. 2022</td>
      <td class="by-text-center">REVENUE</td>
      <td class="by-text-left">Sales Return</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">19,200</td>
      <td class="by-number-cell">0</td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-center">LIABILITIES</td>
      <td class="by-text-left">Sales Tax</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">800</td>
      <td class="by-number-cell">0</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left"><span style="padding-left: 40px">
        Receivable</span><br><span style="padding-left: 40px"> – Ms. Rehana </span>
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell">20,000</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3"><i>Sales Returns during the month of June 2022.</i></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<br />
