<br />
<p class="by-article-para">
  The custodian of petty cash safe submits all the payment documents to finance
  department. <br />
  <br />
  Then, the finance department issues a check in the name of petty cash
  custodian. <br />
  <br />
  The petty cash custodian withdraws the check from bank and puts the amount
  back into the petty cash safe. <br />
  <br />
  The balance amount is reset again. This process is called
  “<b>Replenishment</b>” process.
</p>

<br />
<p class="by-article-para">
  In continuation to previous example above, the accounting entry in the General
  Journal is made as follows:
</p>

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="7">GENERAL JOURNAL</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">Transaction Type</th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br />(Rupees)</th>
      <th>Credit<br />(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="3">Jun 30, 2022</td>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left">Petty Cash Account</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">3,200</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left" style="padding-left: 40px">Bank Account</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,200</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3"><i>Petty Cash replanished from bank account.</i></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<br />
