<br />
<p class="by-article-para">
  Cash Flow Statement is prepared to show the flow of cash in and out of a
  business during a period.
</p>
<p class="by-article-para">
  A Cash flow statement shows from which sources cash comes in, and to where
  cash has been spent.
</p>
<p class="by-article-para">A Cash flow statement has following Three parts:</p>

<ol>
  <li class="by-list-item">Cash flow from <b>Operating Activities</b>.</li>
  <li class="by-list-item">Cash flow from <b>Investing Activities</b>.</li>
  <li class="by-list-item">Cash flow from <b>Financing Activities</b>.</li>
</ol>

<br />

<h2 class="by-article-heading">1- Cash Flow from Operating Activities</h2>
<p class="by-article-para">
  Operating Activities of a business refers to generation of income by using
  resources (expenses).
</p>

<p class="by-article-para">
  Thus, this part of the “Statement of Cash Flow” shows:
</p>

<ol type="a">
  <li class="by-list-item">
    Cash inflow: by receiving of cash from sales and other income.
  </li>
  <li class="by-list-item">
    Cash outflow: by paying for expenses during the reporting period.
  </li>
</ol>

<br />
<h2 class="by-article-heading">2- Cash Flow from Investing Activities</h2>
<p class="by-article-para">
  Investing Activities of a business refers to acquisition and disposal of
  assets, purchasing an investment and receipt of dividend or bonuses.
</p>

<p class="by-article-para">
  Thus, this part of the “Statement of Cash Flow” shows:
</p>

<ol type="a">
  <li class="by-list-item">
    Cash inflow: by receiving of cash from disposal of non-current asset and/or
    receipt from return on investment.
  </li>
  <li class="by-list-item">
    Cash outflow: by paying for acquisition of non-current asset and investment.
  </li>
</ol>

<br />
<h2 class="by-article-heading">3- Cash Flow from Financing Activities</h2>
<p class="by-article-para">
  Financing Activities of a business refers to investment by owner, paying
  dividend, receiving bank loan, payment of loan installment, and/or issuance of
  shares, paying bonuses or dividends to shareholders.
</p>

<p class="by-article-para">
  Thus, this part of the “Statement of Cash Flow” shows:
</p>

<ol type="a">
  <li class="by-list-item">
    Cash inflow: by receiving due to investment by owner, receiving bank loan,
    and/or issuance of shares.
  </li>
  <li class="by-list-item">
    Cash outflow: by paying for dividend, loan installment, bonuses or dividends
    to shareholders.
  </li>
</ol>

<br />
<br />
<img
src="../../../../assets/accounting/CashFlowStatementHierarchy.png"
  style="width: 940px" class="img-fluid"
  alt="Image of Cash Flow Statement Hierarchy"
/>

<br />
<br />
