<div class="container-fluid pt-5 by-login-container">
    <div class="by-background"></div>
    <div class="by-background2"></div>
    <div class="by-background3"></div>
    <div class="by-background4"></div>
    <div class="row">

        <div class="col-md-3"></div><!-- ========== END OF Col 01 -->

        <div class="card col-md-4">
            <!-- <h4 class="card-header">Register</h4> -->
            <h4 class="by-H-Text24BoldBright register">Login</h4>

            <div class="card-body">
                <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
                    <!-- <form (ngSubmit)="onSubmit()"> -->

                    <div class="form-group mt-2 by-Text14">
                        <label for="username">Username</label>
                        <input type="text" formControlName="usernameControl" class="form-control" autocomplete="off"
                            maxlength="20"
                            [ngClass]="{ 'is-invalid': submitted && thisFormControls['usernameControl'].errors }" />
                        <div *ngIf="submitted && thisFormControls['usernameControl'].errors" class="invalid-feedback">
                            <div *ngIf="thisFormControls['usernameControl'].errors['required']">Username is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3 by-Text14">
                        <label for="password">Password</label>
                        <input type="password" formControlName="passwordControl" class="form-control" autocomplete="off"
                            maxlength="20"
                            [ngClass]="{ 'is-invalid': submitted && thisFormControls['passwordControl'].errors }" />
                        <div *ngIf="submitted && thisFormControls['passwordControl'].errors" class="invalid-feedback">
                            <div *ngIf="thisFormControls['passwordControl'].errors['required']">Password is required
                            </div>
                            <div *ngIf="thisFormControls['passwordControl'].errors['minlength']">Password must be at
                                least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button [disabled]="loading" type="submit" class="btn by-PrimaryButton me-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                        <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
                        <!-- <a routerLink="https://brightyouth.org" class="btn btn-link">Home</a> -->
                    </div>
                </form>
            </div>
        </div> <!-- ========== END OF COL 2 - Login BOX -->
        <div class="col-md-3"></div> <!-- ========== END OF COL 3 -->

    </div> <!-- ========== END OF Main Row -->

</div> <!-- ========== END OF MAIN CONTAINER -->