<br />
<p class="by-article-para">
  In most of the educational materials, it is not found to have an Accounting
  Equation to study relations between Income, Expenses, Profit or Loss. Thus, we
  make one.
</p>

<p class="by-article-para by-text-center by-text-bold">
  NET INCOME (A PROFIT OR A LOSS) = TOTAL SALES – TOTAL EXPENSES
</p>

<p class="by-article-para">
  To find out, if Net Income is a Profit or a Loss, as follows:
</p>

<p class="by-article-para by-text-center">
  <b>NET INCOME = PROFIT (</b>where Sales is GREATER than Expenses<b
    >) i.e. (+ve) positive Amount</b
  >
</p>
<p class="by-article-para by-text-center"><b>OR</b></p>
<p class="by-article-para by-text-center">
  <b>NET INCOME = LOSS (</b>where Sales is LESSER than Expenses<b
    >) i.e. (-ve) negative Amount</b
  >
</p>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 1:</b> Calculate Net Income.
</p>

<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Total Sales = Rs. 400,000</p>
<p class="by-article-para by-padding-left100">Total Expenses = Rs. 350,000</p>

<br />
<p class="by-article-para">
  As, sales is <b><i>GREATER</i></b> than Expenses. Thus,
</p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
  Net Income = Total Sales – Total Expenses
</p>

<br />
<p class="by-article-para">
  Putting values of <b>Total Sales</b> and <b>Total Expenses</b>, we get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Net Income</b> = Rs. 400,000 - Rs. 350,000
</p>

<div class="by-answer-div by-article-para d-block by-text-bright">
  <span class="by-answer-span"><b>Net Income</b> = Rs. 50,000</span>
</div>

<br />
<p class="by-article-para by-text-bright">
  This amount is in Positive value; thus, we can consider:
</p>


<div class="by-answer-div by-article-para d-block by-text-bright">
    <span class="by-answer-span"><b>Net Profit</b> = Rs. 50,000</span>
  </div>

  <br />
  <br />
  <p class="by-example-question by-article-para by-border-top by-text-org">
    <b>Example 2:</b> Calculate Net Income.
  </p>

<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Total Sales = Rs. 380,000</p>
<p class="by-article-para by-padding-left100">Total Expenses = Rs. 390,000</p>

<br />
<p class="by-article-para">As, sales is <b><i>LESSER</i></b> than Expenses. Thus,</p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
    Net Income = Total Sales – Total Expenses
  </p>

<br />
<p class="by-article-para">
  Putting values of <b>Total Sales</b> and <b>Total Expenses</b>, we get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Net Income</b> = Rs. Rs. 380,000 - Rs. 390,000
</p>

<div class="by-answer-div by-article-para d-block by-text-bright">
    <span class="by-answer-span"><b>Net Income</b> = (Rs. 10,000)</span>
  </div>
 

<br />
<p class="by-article-para by-text-bright">
  This amount is in Negative value; thus, we can consider:
</p>
<div class="by-answer-div by-article-para d-block by-text-bright">
    <span class="by-answer-span"><b>Net Loss</b> = Rs. 10,000</span>
  </div>
 

<br />
<br />
<p class="by-article-para" style="color: red">
  <b>Note: </b>If we use the term "Loss", then it is wrong to mention the amount
  in Negative.
</p>
