<br />
<p class="by-article-para">
  A business records all the cash receipts into Cash Receipt Book.
</p>

<p class="by-article-para">
  Below is a format of a page in Cash Receipt Journal book.
</p>

<br />

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="6">JOURNAL – CASH RECEIPT</th>
    </tr>
    <tr class="by-border-bottom">
      <th class="by-table-column-heading">Transaction Date</th>
      <th class="by-table-column-heading">Particulars</th>
      <th class="by-table-column-heading" style="width: 120px">
        Amount <br />(Rupees)
      </th>
      <th class="by-table-column-heading" style="width: 120px">
        Accounts Receivable <br />(Rupees)
      </th>
      <th class="by-table-column-heading" style="width: 120px">
        Cash Sales <br />(Rupees)
      </th>
      <th class="by-table-column-heading" style="width: 120px">
        Other <br />(Rupees)
      </th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center">Jan 05, 2022</td>
      <td class="by-text-left">Owner’s Equity – Mr. A</td>
      <td class="by-number-cell"><b>1,000,000</b></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,000,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">Jan 06, 2022</td>
      <td class="by-text-left">Liabilities – Bank</td>
      <td class="by-number-cell"><b>700,000</b></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">700,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 13, 2022</td>
      <td class="by-text-left">Cash Sales</td>
      <td class="by-number-cell"><b>500,000</b></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">500,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 14, 2022</td>
      <td class="by-text-left">Accounts Receivable – Mr. Ehsan</td>
      <td class="by-number-cell"><b>20,000</b></td>
      <td class="by-number-cell">20,000</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-center">Dec 31, 2022</td>
      <td class="by-text-left">Interest – Bank</td>
      <td class="by-number-cell"><b>3,000</b></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,000</td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell by-border-top-footer">
    <tr class="by-table-cell by-bg-color-bright-light by-text-bright">
      <td class="by-text-center">Dec 31, 2022</td>
      <td class="by-text-left"><b>Total Cash Received:</b></td>
      <td class="by-number-cell">2,223,000</td>
      <td class="by-number-cell">20,000</td>
      <td class="by-number-cell">500,000</td>
      <td class="by-number-cell">1,703,000</td>
    </tr>
  </tfoot>
</table>

<br />
<h2 class="by-article-heading">Entry in General Journal</h2>

<p class="by-article-para">
  At the end of the month, we will make an accounting entry into General Journal
  book, so that we can then, post them into Ledger.
</p>

<br />

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="7">GENERAL JOURNAL</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">Transaction Type</th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br />(Rupees)</th>
      <th>Credit<br />(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left">Cash Account</td>
      <td class="by-text-center">01</td>
      <td class="by-number-cell">2,223,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left" style="padding-left: 40px">Mr. A</td>
      <td class="by-text-center">02</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,000,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">REVENUE</td>
      <td class="by-text-left" style="padding-left: 40px">Cash Sales</td>
      <td class="by-text-center">09</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">500,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">LIABILITIES</td>
      <td class="by-text-left" style="padding-left: 40px">ABC Bank’s Loan</td>
      <td class="by-text-center">03</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">700,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left" style="padding-left: 40px">
        Accounts Receivable
      </td>
      <td class="by-text-center">19</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">20,000</td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">OTHER INCOME</td>
      <td class="by-text-left" style="padding-left: 40px">Bank Interest</td>
      <td class="by-text-center">22</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,000</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3"><i>Cash Received during the year 2022.</i></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<br />
