<p class="by-article-para">
  When a seller issues an invoice to its customers, the seller is prohibited to
  change that invoice for any reason.
</p>

<p class="by-article-para">
  Instead, the seller issues credit notes to its customers for the changes
  required to be done in the invoice.
</p>

<p class="by-article-para">
  <b>Note:</b> Formats of invoice, credit notes and debit notes are the same,
  with just minor differences.
</p>

<p class="by-article-para">
  Following are the situations where Credit notes are issued by the seller to
  buyer/customer.
</p>

<ol>
  <li class="by-list-item">
    <b>Whole invoice need to be reversed</b> – for example, full return of the
    goods accepted by the seller.
  </li>
  <li class="by-list-item">
    <b>Part of the invoice need to be reversed</b> – for example, invoice is
    incorrect, or goods returned by buyer.
  </li>
  <li class="by-list-item">
    <b>Amendment required in the invoice</b> – for example, tax law changed,
    further changes, any addition or deduction required, etc.
  </li>
</ol>

<p class="by-article-para">
  Below are the simple steps showed during selling and issuing of credit notes.
</p>

<br />
<figure>
  <figcaption style="color: grey">
    Step 1 - Seller Issues Invoice to Customer for the sales
  </figcaption>
  <img
    src="../../../../assets/accounting/DiagramCreditNote1.png"
    alt="Image of Diagram - SELLER sends INVOICE to BUYER"
    style="width: 600px"   class="img-fluid"
  />
</figure>

<br />
<figure>
  <figcaption style="color: grey">
    Step 2 - Seller need to change something in Invoice.
  </figcaption>
  <img
    src="../../../../assets/accounting/DiagramCreditNote2.png"
    alt="Image of Diagram - SELLER issues CREDIT NOTE to BUYER"
    style="width: 600px"   class="img-fluid"
  />
</figure>

<br />
<br />
