<br />

<p class="by-article-para">
  The accounting equation provides a concept of having <b>dual-aspect</b> record
  for each single financial transaction or event. The accounting equation also
  advises us that in every single transaction, there is always two effects.
</p>

<p class="by-article-para">
  On one side, we receive something, e.g. asset, goods or service. On the other
  side, and at the same time, we are also paying through Cash or bank, or a
  having a claim from the person or business to whom we are having the
  transaction.
</p>

<p class="by-article-para">
  This happens in a single financial event as well. When we buy an insurance
  plan, for example, for 2 years which we record as prepaid (an asset) at the
  end of 1st year, we realize that we have used 1st year’s portion of the
  insurance plan, by considering that we have gained enough attraction of the
  public towards our product and services. Thus, we decrease Prepaid Insurance
  Plan, and Increase Insurance Expense.
</p>

<table class="by-border-all">
  <thead class="by-table-column-heading">
    <tr class="by-border-bottom by-text-center">
      <th class="by-table-column-heading by-border-left">Account Type</th>
      <th class="by-table-column-heading by-border-left">Increase</th>
      <th class="by-table-column-heading by-border-left">Decrease</th>
      <th class="by-table-column-heading by-border-left">Explanation</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-bright by-text-center"><b>Asset</b></td>
      <td class="by-text-center by-border-left">Benefit</td>
      <td class="by-text-center by-border-all">Loss</td>
      <td>
        The business records as benefit when an asset (for example, land,
        building, cash, or claim on someone or another business) is received,
        otherwise, it is not in the benefit of business that its’ assets have
        been decreased.
      </td>
    </tr>
    <tr class="by-border-bottom">
      <td class="by-text-bright by-text-center"><b>Owner’s Equity</b></td>
      <td class="by-text-center by-border-left">Loss</td>
      <td class="by-text-center by-border-all">Benefit</td>
      <td>
        The business records as loss when owner’s claim over the asset of the
        business increases. <br /><br />

        This means that at any time in the future, owner(s) might close the
        business, or at least, resize-down the business by withdrawing money or
        money equivalent from the business.
      </td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-bright by-text-center"><b>Liabilities</b></td>
      <td class="by-text-center by-border-left">Loss</td>
      <td class="by-text-center by-border-all">Benefit</td>
      <td>
        Like owner’s equity, the business also records a loss when liability has
        increased. This means that claim of lender has been established or
        increased over the asset of the business. If liability has been
        decreased, by paying off to the lender, the business records as benefit.
      </td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-bright by-text-center"><b>Income</b></td>
      <td class="by-text-center by-border-left">Loss</td>
      <td class="by-text-center by-border-all">Benefit</td>
      <td>
        Students always confuse over a concept of why the business records
        Income (or Sales) as a loss. <br />

        <ol>
          <li class="by-list-item">
            Goods delivered to Customer. <br />
            <span class="by-text-bold">
                Business records a loss. (Credited)
            </span>
          </li>
          <br />
          <li class="by-list-item">
            Profit margin agreed by customer to pay to business (who is seller
            in this case). <br />
            <span class="by-text-bold">
              >Business records an increase in owner’s equity, to pay to owner
              in the future. (Credited)
            </span>
          </li>
          <br />
          <li class="by-list-item">
            Cash is received from customer, or the customer will pay in the
            future. <br />
            <span class="by-text-bold">
              Cash or Receivable increases. (Debited)
            </span>
          </li>
        </ol>

        <br />
        For simplicity, in the beginning of accounting studies, point 1 and 2
        above are combined and just referred to a single term as “Sales”.
      </td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-bright by-text-center"><b>Expenses</b></td>
      <td class="by-text-center by-border-left">Benefit</td>
      <td class="by-text-center by-border-all">Loss</td>
      <td>
        The business always enjoys if its resources are increased, more building
        area, machine hours, labor hours, experts’ hours, insurances, bank
        services, stationaries, equipment, etc. <br /><br />
        While students confuse here that expenses are bad, but it is not.
        Expenses are resources which is benefit for the business. “Paying for
        those Expenses” lead to decrease in Cash or Asset, which is loss.
        <br /><br />
        More resources you put in the business, more performances arise in
        generation of revenues through best product and services. As resources
        are scarce, it is expenses, and business must pay more and more to
        acquire sufficient resources.
        <br /><br />
        One other aspect of Expenses is that it reduces Owner’s Equity, that’s
        why, students think of it as “Loss”.
        <br />

        <ul class="by-list-type-none">
          <li class="by-list-item">- It is Benefit for the Business.</li>
          <br />
          <li class="by-list-item">- It is Loss for the Owner</li>
          <br />
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<br />
<p class="by-article-para">
  An Accounting System always focuses on business’ benefits while analyzing a
  transaction, but while making financial statements, the accountant’s considers
  stakeholders as high priority.
</p>
