
<h2 class="by-article-heading">What is an “Account”</h2>

<p class="by-article-para">The word “<b>Account</b>” is used to identify and record a financial transaction or a financial event.</p>

<p class="by-article-para">For example, if a purchase of a vehicle is made by a business from XYZ company, an accountant identifies that there are two events has occurred in this transaction:</p>

<ol >
  <li class="by-list-item">First event is <b>receiving of vehicle from XYZ</b> and the accountant name this event as “Vehicle” Account. </li>
  <li class="by-list-item">The second event is <b>realizing a debt or burden over the business</b>, which is nothing but a claim of XYZ over the asset or the business. <p class="by-article-para">This claim is called <b>liabilities</b>, and the accountant name this event as payable to “XYZ company” Account.</p></li>
</ol>