<br>


<p class="by-article-para">Before we discuss, what is accounting, let’s study and understand 
    <span class="by-text-bright by-text-bold">"Process", “Method” and “System”</span> terms. This will help us in understanding of “Accounting System”.</p>

<h2 class="by-article-heading">Process</h2>

<p class="by-article-para">A process is an action taken to convert input into output.</p>

<p class="by-article-para">For example, </p>

<p class="by-article-para">A baker bakes a cake. Backing is just a process. The baker put different ingredients into a process and when that process completes, we will get a cake.</p>

<h2 class="by-article-heading">Method</h2>

<p class="by-article-para">Method is a set of ideas or concepts applied to make a process shorter or having lesser wastages.</p>

<p class="by-article-para">Most of the dictionaries provide the meaning of Method as “a process”.  But it is not.</p>

<p class="by-article-para">In our example of “<b>A baker bakes a Cake</b>”, in a large bakery firm, bakers will have been given same ingredients and same types of tools. They will be given same instructions to make a same type of cakes. In the meanwhile, all the bakers might mix ingredients differently, might use those tools in different timing or differently. The baking method of those bakers might be different, per their knowledge and experiences, but overall, they must make One type of Cake at the end.</p>

<p class="by-article-para">The Process overall, is the same, i.e. convert ingredients into Cake.</p>

<p class="by-article-para">In another example, A mathematician uses paper and pen to calculate a formula, while another mathematician uses a calculator to perform same process.</p>

<h2 class="by-article-heading">System</h2>

<p class="by-article-para">A combination of different processes chained up to achieve a result.</p>

<p class="by-article-para">When the quantity of production grows in a business, the business will breakdown larger processes into smaller processes, and is thus, considered to have a system in place.</p>

<p class="by-article-para">There are times, when one process’ result or product shall be used as input for another processes, thus, proper focus and integrity are required.</p>

