
<br>
<p class="by-article-para">Cash flow from <b><u>Operating Activities</u></b> under <b>Direct method</b> is prepared by <u>deducting all operating cash payments from operating cash receipts</u> during the reporting period.</p>


<br>
<p class="by-article-para">Below is <b>detailed</b> format of a Cash Flow Statement (Direct-Method):</p>


<table class="by-border-all">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading">
        <th class="by-text-center" colspan="5">XYZ COMPANY <br>STATEMENT OF CASH FLOW (Direct Method)</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
        <th class="by-text-center" colspan="5">for the year ending December 31, 20XX</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
        <th colspan="2"></th>
      <th style="width:120px;">Rupees</th>
      <th style="width:120px;">Rupees</th>
      <th style="width:120px;">Rupees</th>
    </tr>
  </thead>

<tbody class="by-table-cell">

<tr class="by-text-bright by-text-bold">
	<td class="by-text-left" colspan="2">CASH BALANCE (AT BEGINNING OF THE YEAR)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell">XXXXX</td>
</tr>

<tr style="height: 30px;">
    <td></td>
    </tr>

<tr>
	<td class="by-text-youth by-text-left by-text-bold" colspan="4">CASH FLOW FROM OPERATING ACTIVITIES</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash receipts from Customer</td>
	<td class="by-number-cell">XXXXX</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Interest receipt on Savings Account</td>
	<td class="by-number-cell">XXXXX</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid to Suppliers (for Inventory)</td>
	<td class="by-number-cell">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid to Employees</td>
	<td class="by-number-cell">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid for other operating expenses</td>
	<td class="by-number-cell">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Interest Paid on Loan</td>
	<td class="by-number-cell">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>
<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Income Tax Paid</td>
	<td class="by-number-cell by-border-bottom-youth-single">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr class="by-text-youth">
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:50px;" colspan="2">NET CASH GENERATED FROM OPERATING ACTIVITIES</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold">XXXXX</td>
	<td class="by-number-cell"></td>
</tr>


<tr style="height: 30px;">
<td></td>
</tr>

<tr>
	<td class="by-text-youth by-text-left by-text-bold" colspan="4">CASH FLOW FROM INVESTING ACTIVITIES</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid to Purchase of Fixed Assets</td>
	<td class="by-number-cell">XXXXX</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid to Purchase of Long-term Investments</td>
	<td class="by-number-cell">XXXXX</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash receipts from Sale of Fixed Assets</td>
	<td class="by-number-cell">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash receipts from Long-term Investments</td>
	<td class="by-number-cell by-border-bottom-youth-single">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr class="by-text-youth">
	<td class="by-text-left by-text-bold by-text-italic" style="padding-left:50px;" colspan="2">NET CASH USED FOR INVESTING ACTIVITIES</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-text-bold">(XXXXX)</td>
	<td class="by-number-cell"></td>
</tr>

<tr style="height: 30px;">
    <td></td>
    </tr>

<tr>
	<td class="by-text-youth by-text-left by-text-bold" colspan="4">CASH FLOW FROM FINANCING ACTIVITIES</td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash received from Owner (Business Started)</td>
	<td class="by-number-cell">XXXXX</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash received from Long-term loan</td>
	<td class="by-number-cell">XXXXX</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid to Owner as Dividend (or as Withdrawal)</td>
	<td class="by-number-cell">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr>
	<td class="by-text-left" style="width:100px;"></td>
	<td class="by-text-youth by-text-left">Cash paid to bank for Installments (excluding Interest)</td>
	<td class="by-number-cell by-border-bottom-youth-single">(XXXXX)</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
</tr>

<tr style="height: 30px;">
    <td></td>
    </tr>

<tr class="by-text-youth by-text-bold">
	<td class="by-text-left by-text-italic" style="padding-left:50px;" colspan="2">NET CASH GENERATED FROM FINANCING ACTIVITIES</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-border-bottom-youth-single">XXXXX</td>
	<td class="by-number-cell"></td>
</tr>

<tr style="height: 30px;">
    <td></td>
    </tr>

<tr class="by-text-bright by-text-bold">
	<td class="by-text-left" colspan="2">NET CASH FLOW DURING THE YEAR</td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell"></td>
	<td class="by-number-cell by-border-bottom-youth-single">XXXXX</td>
</tr>


</tbody>

<tfoot class="by-table-cell">

<tr class="by-bg-color-bright-light by-text-bright">
	<td class="by-text-left by-padding-left100" colspan="4"><b>CASH BALANCE (AT END OF THE YEAR)</b></td>
	<td class="by-number-cell by-border-bottom-double"><b>XXXXX</b></td>
</tr>
<tr style="height: 30px;">
<td></td>
</tr>
</tfoot>

</table>



<br>
<br>