<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Exercise 1:</b> Double Entry for Mr. A’s business.
</p>

<p class="by-article-para">We are provided with below:</p>

<ol class="by-padding-left100">
  <li class="by-list-item">
    Mr. A started a business with Cash Rs. 1,000,000.
  </li>
  <li class="by-list-item">Received loan from Bank Rs. 700,000.</li>
  <li class="by-list-item">
    Purchased Land Rs. 200,000 and paid Cash in full.
  </li>
  <li class="by-list-item">
    Purchased Building Rs. 300,000 and paid Cash in full.
  </li>
  <li class="by-list-item">
    Purchased Vehicle Rs. 150,000 and paid Cash in full.
  </li>
  <li class="by-list-item">
    Purchased Furniture Rs. 80,000 and paid Cash in full.
  </li>
  <li class="by-list-item">
    Purchased Goods for Resale Rs. 600,000 and paid Cash in full
  </li>
</ol>

<p class="by-article-para by-text-bright">
  <b>Solution:</b> Double Entry for Mr. A’s business.
</p>

<br />

<table class="by-border-all by-border-right-td">
  <thead class="by-table-column-heading">
    <tr class="by-text-center">
      <th class="by-table-column-heading">Transaction #</th>
      <th class="by-table-column-heading">Account Type</th>
      <th class="by-table-column-heading">Transaction Effect</th>
      <th class="by-table-column-heading">Increase/ Decrease</th>
      <th class="by-table-column-heading">Amount</th>
      <th class="by-table-column-heading">Remarks</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-center by-border-all">
      <td rowspan="2">
        <b>1.1</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>1,000,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Cash) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>OWNER’S EQUITY</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>1,000,000</td>
      <td class="by-text-left">
        Business will get a loss from the owner’s equity if business is
        dissolved or when owner withdraw from business.
      </td>
    </tr>

     <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>1.2</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>700,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Cash) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>LIABILITIES</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>700,000</td>
      <td class="by-text-left">
        Business will get a loss from the liability, because business pays back
        to the bank in the form of cash or if business is dissolved, business
        must provide another asset.
      </td>
    </tr>

   
    <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>1.3</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>200,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Land) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>200,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>1.4</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>300,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Building) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>300,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>1.5</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>150,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Vehicle) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>150,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>1.6</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>80,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Furniture) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>80,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>1.7</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>600,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Goods or
        Inventory) by re-selling it to customers in the future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>600,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Exercise 2:</b> Mr. A’s business – First Year - Sales and Expenses
</p>

<p class="by-article-para">We are provided with below:</p>

<ol class="by-padding-left100">
  <li class="by-list-item">Sold goods and received Cash Rs. 500,000.</li>
  <li class="by-list-item">Paid Rent Rs. 80,000.</li>
  <li class="by-list-item">Paid Salaries Rs. 70,000.</li>
  <li class="by-list-item">Paid Electricity Bill Rs. 30,000.</li>
  <li class="by-list-item">Paid Vehicle Fuel Rs. 40,000.</li>
  <li class="by-list-item">Paid Furniture repair Rs. 12,000.</li>
  <li class="by-list-item">Paid Building repair Rs. 8,000.</li>
  <li class="by-list-item">Paid for Stationary Rs. 7,000.</li>
</ol>

<p class="by-article-para by-text-bright">
  <b>Solution:</b> Double Entry for Mr. A’s business.
</p>

<br />

<table class="by-border-all by-border-right-td">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading">Transaction #</th>
      <th class="by-table-column-heading">Account Type</th>
      <th class="by-table-column-heading">Transaction Effect</th>
      <th class="by-table-column-heading">Increase/ Decrease</th>
      <th class="by-table-column-heading">Amount</th>
      <th class="by-table-column-heading">Remarks</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-center by-border-bottom">
      <td rowspan="2">
        <b>2.1</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>500,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Cash) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>INCOME</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>500,000</td>
      <td class="by-text-left">
        The owner’s equity has been increased; if the owner has withdrawn the
        money, the business will get lesser amount of Asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.2</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>80,000</td>
      <td class="by-text-left">
        Business has already received benefits from utilizing the
        <b>rental premises.</b>
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>80,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.3</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>70,000</td>
      <td class="by-text-left">
        Business has already received benefits from utilizing the
        <b>employees’ efforts.</b>
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>70,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.4</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>30,000</td>
      <td class="by-text-left">
        Business has already received benefits from utilizing
        <b>the electricity.</b>
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>30,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.5</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>40,000</td>
      <td class="by-text-left">
        Business has already received benefits from utilizing the
        <b>fuel for vehicle.</b>
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>40,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

    <tr class="by-text-center">
      <td colspan="6"></td>
    </tr>

    <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.6</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>12,000</td>
      <td class="by-text-left">
        Business will get benefits from the furniture, by <b>repairing</b> it
        for future use.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>12,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.7</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>8,000</td>
      <td class="by-text-left">
        Business will get benefits from the building, by <b>repairing</b> it for
        future use.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>8,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>2.8</b>
      </td>
      <td>EXPENSE</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>7,000</td>
      <td class="by-text-left">
        Business has already received benefits from utilizing the
        <b>stationary</b>.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>7,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Exercise 3:</b> Mr. A’s business after – First Year – Purchase Return &
  Sales Return.
</p>

<p class="by-article-para">We are provided with below:</p>

<ol class="by-padding-left100">
  <li class="by-list-item">
    Goods returned by Customers after found defective Rs. 20,000.
  </li>
  <li class="by-list-item">
    Goods found defective and returned to suppliers, Mr. Abbas, Rs. 30,000.
  </li>
</ol>

<p class="by-article-para by-text-bright">
  <b>Solution:</b> Double Entry for Mr. A’s business.
</p>

<br />

<table class="by-border-all by-border-right-td">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading">Transaction #</th>
      <th class="by-table-column-heading">Account Type</th>
      <th class="by-table-column-heading">Transaction Effect</th>
      <th class="by-table-column-heading">Increase/ Decrease</th>
      <th class="by-table-column-heading">Amount</th>
      <th class="by-table-column-heading">Remarks</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-center by-border-bottom">
      <td rowspan="2">
        <b>3.1</b>
      </td>
      <td>OWNER’S EQUITY</td>
      <td>Benefit</td>
      <td>Decrease</td>
      <td>20,000</td>
      <td class="by-text-left">
        Business will no longer pay to owner for this amount in the future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>20,000</td>
      <td class="by-text-left">
        Business will no longer receive from customers any amount in the future.
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>3.2</b>
      </td>
      <td>LIABILITIES</td>
      <td>Benefit</td>
      <td>Decrease</td>
      <td>30,000</td>
      <td class="by-text-left">
        Business will no longer pay to Supplier for this amount in the future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>30,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Inventory).
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Exercise 4:</b> Mr. A’s business – First Year - Sales on Credit, Purchase
  on Credit, Collection of Debt, Payment of Debt.
</p>

<p class="by-article-para">We are provided with below:</p>

<ol class="by-padding-left100">
  <li class="by-list-item">
    Sold goods Rs. 80,000 still receivable from Customers.
  </li>
  <li class="by-list-item">
    Purchased goods Rs. 90,000 still payable to Suppliers.
  </li>
  <li class="by-list-item">
    Received cash of Rs. 20,000 from a customer, Mr. Ehsan.
  </li>
  <li class="by-list-item">
    Paid cash of Rs. 30,000 to a supplier, XYZ company.
  </li>
</ol>

<p class="by-article-para by-text-bright">
  <b>Solution:</b> Double Entry for Mr. A’s business.
</p>

<br />

<table class="by-border-all by-border-right-td">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading">Transaction #</th>
      <th class="by-table-column-heading">Account Type</th>
      <th class="by-table-column-heading">Transaction Effect</th>
      <th class="by-table-column-heading">Increase/ Decrease</th>
      <th class="by-table-column-heading">Amount</th>
      <th class="by-table-column-heading">Remarks</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-center by-border-bottom">
      <td rowspan="2">
        <b>4.1</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>80,000</td>
      <td class="by-text-left">
        Business will get Cash from the debtor (i.e. Accounts Receivable) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>INCOME</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>80,000</td>
      <td class="by-text-left">
        The owner’s equity has been increased; if the owner has withdrawn the
        money, the business will get lesser amount of Asset (i.e. Cash).
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>4.2</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>90,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Cash) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>LIABILITIES</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>90,000</td>
      <td class="by-text-left">
        Business will get a loss from the liability, because business pays back
        to the bank in the form of cash or if business is dissolved, business
        must provide another asset.
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>4.3</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>20,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Cash) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>20,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Accounts
        Receivable). Therefore, business will no longer receive cash from debtor
        in the future.
      </td>
    </tr>

       <tr class="by-text-center by-border-bottom by-border-top-footer">
      <td rowspan="2">
        <b>4.4</b>
      </td>
      <td>LIABILITY</td>
      <td>Benefit</td>
      <td>Decrease</td>
      <td>30,000</td>
      <td class="by-text-left">
        Business will no longer pay to supplier in the future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>ASSET</td>
      <td>Loss</td>
      <td>Decrease</td>
      <td>30,000</td>
      <td class="by-text-left">
        Business has gotten a loss by decreasing another asset (i.e. Cash).
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Exercise 5:</b> Mr. A’s business – First Year - To Record Profit on Sales.
</p>

<p class="by-article-para">We are provided with below:</p>

<ol class="by-padding-left100">
  <li class="by-list-item">
    Business received profit Rs. 50,000 on goods sold to customers. Let’s
    consider, all the profits were included on the cash sales only.
  </li>
</ol>

<p class="by-article-para by-text-bright">
  <b>Solution:</b> Double Entry for Mr. A’s business.
</p>

<br />

<table class="by-border-all by-border-right-td">
  <thead class="by-table-column-heading by-border-bottom">
    <tr>
      <th class="by-table-column-heading">Transaction #</th>
      <th class="by-table-column-heading">Account Type</th>
      <th class="by-table-column-heading">Transaction Effect</th>
      <th class="by-table-column-heading">Increase/ Decrease</th>
      <th class="by-table-column-heading">Amount</th>
      <th class="by-table-column-heading">Remarks</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-center by-border-bottom">
      <td rowspan="2">
        <b>5.1</b>
      </td>
      <td>ASSET</td>
      <td>Benefit</td>
      <td>Increase</td>
      <td>50,000</td>
      <td class="by-text-left">
        Business will get benefit from the asset’s usage (i.e. Cash) in the
        future.
      </td>
    </tr>

    <tr class="by-text-center">
      <td>INCOME</td>
      <td>Loss</td>
      <td>Increase</td>
      <td>50,000</td>
      <td class="by-text-left">
        The owner’s equity has been increased; if the owner has withdrawn the
        money, the business will get lesser amount of Asset (i.e. Cash).
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />

<p class="by-article-para">
  Mainly, this entry is not required for an accountant to make it separately,
  because it has already included in the amount of a Sales. In later chapters,
  we will study this more by studying “Cost of Goods Sold” in detailed.
</p>
