
<h2 class="by-article-heading">Objectivity (Reliability) Constraint</h2>

<p class="by-article-para">A “Business Organization” cannot report an information unless objective an evidence has not been kept or based. Un-biased transactions are prohibited to report in Financial Reports.</p>

<p class="by-article-para">For example, a business cannot show an asset’s cost into its financial statement unless it has no acquisition document, such as invoice, purchase order, purchase agreement, payment documents, etc. </p>


<h2 class="by-article-heading">Materiality Constraint</h2>

<p class="by-article-para">A “Business Organization” cannot report every “detail” regarding the business unless it has of “Significant Value”.</p>

<p class="by-article-para">For example, a list of all employees and their salaries is not considered “Significant”, but a list of Fixed Assets is considered to be “Significant”, but in categorized format.</p>

<p class="by-article-para">Again, details of each and every Fixed Asset is also not “Significant”. But “Valuation method of those Assets” is considered to be “Significant”.</p>

<h2 class="by-article-heading">Consistency and Comparability Constraint</h2>

<p class="by-article-para">A “Business Organization” must have a consistent policy and procedures in valuation of its assets and to handle every financial matters.</p>

<p class="by-article-para">A business cannot change a principle, any assumption or any constraint, unless it is not based on a reasonable recorded event.</p>

<h2 class="by-article-heading">Conservatism Constraint</h2>

<p class="by-article-para">A “Business Organization” cannot choose to overstate its income and assets. </p>

<p class="by-article-para">If the business face with a problem to show an income or asset in “over” amount, and the problem has two or more solutions, then, Conservatism Constraint requires the business to choose the solution which result in recording lesser amount in its financial record.</p>

<p class="by-article-para">Simply, the constraint of Conservatism leads a business to record possible future losses, but prohibits to record future gains.</p>

<h2 class="by-article-heading">Cost Constraint</h2>

<p class="by-article-para">A “Business Organization” must not report certain information, if the reporting cost of that information is significantly higher, and though, does not contribute to the benefits of reporting that information.</p>

<p class="by-article-para">The business can have the option to skip market survey for a specific asset valuation, if the cost of the market survey is higher and, on the same time, the information doesn’t provide much benefit to the stakeholder(s).</p>

<p class="by-article-para">On the other hand, if the valuation of asset is crucial, then the business is required to proceed reasonable market survey. In this stage, third party agencies can be hired/appointed to certify an assets condition, quantity, or value.</p>
