<br />
<p class="by-article-para">
  Accountants combine few accounts' processes to achieve a result for another
  account. <b>Income Statement, Statement of Owner’s Equity</b> and
  <b>Statement of Cash Flows</b> are also giant accounting equations within
  themselves.
</p>

<p class="by-article-para">
  In Job-order costing, cost of goods sold statement, we will study the
  accounting equation vertically.
</p>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 1:</b> Accounting Equation for Cost of Goods Sold Statement
</p>


<p class="by-article-para">We are provided with below:</p>

<aside class="by-aside">
  <p class="by-article-para">
    <b><u>Note:</u></b>
  </p>
  <p class="by-article-para">
    Each of these items are a single accounting equation from within.
  </p>
  <p class="by-article-para">For Example:</p>
  <br />

  <p class="by-article-para">
    <b
      >Sales = Opening Sales + Total Sales for the Period – Total Sales Return
      for the Period</b
    >
  </p>
  <p class="by-article-para">OR</p>
  <p class="by-article-para">
    <b>Raw Material (</b>in Warehouse<b
      >) = Opening Material + Total Issued to Factory – Total Returned from
      Factory</b
    >
  </p>
  <p class="by-article-para">OR</p>

  <p class="by-article-para">
    <b
      >Cash Discount = Opening Cash Discount + Total Discount Received – Total
      Discount Returned</b
    >
  </p>

  <p class="by-article-para">And so on...</p>
</aside>

<p class="by-article-para" style="padding-left: 100px">
  Total Sales = Rs. 500,000
</p>
<p class="by-article-para" style="padding-left: 100px">
  Total Raw Material purchased = Rs. 300,000
</p>
<p class="by-article-para" style="padding-left: 100px">
  Total Cash Discount = Rs. 2,000
</p>
<p class="by-article-para" style="padding-left: 100px">
  Total Delivery Charges = Rs. 18,000
</p>

<br />
<p class="by-article-para">Then,</p>

<table class="by-table-OutsideBorder" style="margin-left: 100px">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading" style="padding-right: 200px"></th>
      <th class="by-table-column-heading">Amount (Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr>
      <td class="by-color-bright by-Text-Align-Left"><b>Total Sales</b></td>
      <td class="by-number-cell">500,000</td>
    </tr>
    <tr>
      <td class="by-color-bright by-Text-Align-Left">Less: Raw Materials</td>
      <td class="by-number-cell">(300,000)</td>
    </tr>
    <tr>
      <td class="by-color-bright by-Text-Align-Left">Less: Cash Discount</td>
      <td class="by-number-cell">(2,000)</td>
    </tr>
    <tr>
      <td class="by-color-bright by-Text-Align-Left">
        <b>Less: Delivery Charges</b>
      </td>
      <td class="by-number-cell">(18,000)</td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell by-bg-color-bright-light by-color-bright">
    <tr>
      <td class="by-color-bright by-Text-Align-Left">
        <b>Total Cost of Goods Sold</b>
      </td>
      <td class="by-number-cell"><b>180,000</b></td>
    </tr>
  </tfoot>
</table>

<br />
<p class="by-article-para">
  We can re-write this statement into an accounting equation as follows:
</p>

<br />
<div style="margin-left: 100px">
  <p class="by-article-para">
    <b
      >Total COGS = Total Sales – Raw Materials – Cash Discount – Delivery
      Charges</b
    >
  </p>
  <p class="by-article-para">
    Total COGS = Rs. 500,000 – Rs. 300,000 – Rs, 2,000 – Rs. 18,000
  </p>
  <p class="by-article-para"><b>Total COGS = Rs. 180,000</b></p>
</div>
