<br>

<p class="by-article-para">Accounting History is as old as the history of civilizations who began inventing <b><u>writing, reading and counting</u></b>.</p>

<aside class="by-aside">
<img src="../../../../assets/accounting/Mesopotamia.png" alt="Image of Map of Mesopotamia">
</aside>


<p class="by-article-para">Historians has dated back the history of accounting to the ancient civilizations of <b>Mesopotamia</b>. Many Historians also relates the history of accounting to the civilizations of Egypt and Babylon.</p>

<p class="by-article-para">These are the civilizations who are well-known in the development of writing, reading, communicating and counting.
The Roman Empires required to have detailed records of its finances.
<b>Luca Pacioli</b> wrote the first book <b><u>Summa de arithmetica</u></b> on the "<b>double-entry system of bookkeeping</b>". He published this book in 1494 in Italy.
Luca Pacioli, also friend of <b>Leonardo da Vinci</b>, thus has been named as “<b><i>the Father of Accounting and Bookkeeping</i></b>”.
</p>

<p class="by-article-para">In the 19th century Accounting has been modernized and became known as a Professional.</p>

<figure>
	<img src="../../../../assets/accounting/Luca Pacioli.jpg" alt="Image of Luca Pacioli">
	<figcaption>Portrait of Luca Pacioli, painted by <br>Jacopo de' Barbari, 1495 <br>(Museo di Capodimonte)</figcaption>
</figure>


<br>
<p class="by-article-para">In England, in 1880, the <b>Institute of Chartered Accountants in England and Wales</b> formulized into proper systems of accounting.</p>