<br>

<p class="by-article-para">Followings are the six account types which groups all the accounts of a business to summarize and understand the effect of each account while they increase or decrease.</p>

<h2 class="by-article-heading">Asset</h2>

<p class="by-article-para">An asset is a resource of a business, which is owned by the business for the purpose to utilize the benefit in future. </p>

<p class="by-article-para">For example, Land, Building, Vehicle, Machinery, Equipment, Investment, Inventory Receivables, Prepaid Expenses, Cash in Hand and in Bank.</p>


<h2 class="by-article-heading">Owner’s Equity</h2>

<p class="by-article-para">Owner’s Equity is an investment of the Owner of a business. Investment is made by owner by introducing a resource/asset in the business.</p>

<p class="by-article-para">In return, this investment by the owner arises or increase a claim of the owner over those assets of the business.</p>

<h2 class="by-article-heading">Owner’s Drawings</h2>

<p class="by-article-para">When owner of a business withdraws cash or an asset from the business for his/her personal use.</p>

<h2 class="by-article-heading">Liabilities</h2>

<p class="by-article-para">Obligation to pay someone, other than owner, against their claims over the asset of the business is called liabilities.</p>

<p class="by-article-para">The business might have acquired more cash from a bank or financial institution to pay for the resources, which owners couldn’t provide at the time.</p>

<p class="by-article-para">Sometimes, the business has acquired an asset and made an agreement with the supplier to provide cash in the future.</p>

<p class="by-article-para">Both these dealings are considered a financial transaction which creates liabilities over the business.</p>

<h2 class="by-article-heading">Revenue and Income</h2>

<p class="by-article-para">The words “Revenue” and “Income” are used interchangeably, but they are not same.</p>

<p class="by-article-para"><b>Revenue</b> means, the amount of money value which generate by a business through an economic activity.</p>

<p class="by-article-para"><b>Income</b> means, the amount of acquisition expenses arises at the time of generating that revenue, removed from revenue amount.</p>

<p class="by-article-para">When a business makes sales, there are few costs those sales, for example, discount given, delivery charges, agreement expenses, etc.</p>

<p class="by-article-para">An <b>economic activity</b> might include, but not limited to, below:</p>

<ul class="by-list-type-none">
  <li class="by-list-item">- Sale of goods or services.</li>
  <li class="by-list-item">- Rent of business’ extra resources, such as garage services for other business, conference hall rent, renting a vehicle or machine to other business, etc.</li>
  <li class="by-list-item">- Receipts from investments in another business.</li>
  <li class="by-list-item">- Interest from Banks on fixed deposits or interest-bearing bank accounts.</li>
  <li class="by-list-item">- Interest from someone against loan provided.</li>
  <li class="by-list-item">- etc.</li>
</ul>

<h2 class="by-article-heading">Expenses</h2>

<p class="by-article-para">Value of resources “<b>already used</b>” by the business during a period of performing an economic activity.</p>

<p class="by-article-para">For example, </p>

<ul class="by-list-type-none">
  <li class="by-list-item">- Rent paid for the month of April 2022. We have used a premises for which we are paying the rent, we have utilized the benefit during that month.</li>
  <li class="by-list-item">- Salaries paid for the month of April 2022. We have already utilized services of employees for during that month.</li>
  <li class="by-list-item">- etc.</li>
</ul>