.by-navbar {
    background-color: white !important;
    box-shadow: var(--BY-box-shadowY);
    .by-navbar-container {
        .by-brand {
            color: var(--Bright-Color);
            font-size: 1.5rem !important;
            margin-left: 15px;

            img {
                width: 35px;
                height: auto;
            }

            span {
                color: var(--Youth-Color);
            }

            .org {
                color: var(--Org-Color);
                font-size: 0.95rem !important;
            }
        }

        .by-collapse {
            margin-left: 100px;
            font-size: 0.95rem !important;

            .by-navbar-nav {

                .by-nav-item {
                    margin-right: 30px;

                    .by-nav-link-menu {
                        position: relative;
                        // background: none;

                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2.5px !important;
                            background: var(--Bright-Color);
                            left: 0;
                            bottom: 0;

                            transform: scale(0, 1);
                            transition: transform 0.3s ease;
                        }

                        &:hover::after {
                            transform: scale(1, 1);
                        }
                    }

                    .by-bolder-font {
                        // color: green;
                        &:hover {
                            color: var(--Bright-Color);
                            font-weight: 400;
                        }
                    }
                    
                }

                .by-nav-useritem {
                    margin-left: 145px !important;
                    
                    .registrationContainer {
                        margin-top: 5px;
                        margin-bottom: 0px;
                        padding: 0, 0, 100px, 0;

                        .registerButton {
                            position: relative;
                            text-decoration: none;
                            // text-align: center;
                            color: var(--Bright-Color) !important;
                            font-size: 1.05rem;
                            font-weight: 520;
                            // margin-left: 20px;
                            margin-right: 20px !important;
                            width: 70px;
                            &:hover {
                                font-weight: 600;
                                // background-color: var(--Bright-Dim-Color) !important;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 2.5px !important;
                                background: var(--Bright-Color);
                                left: 0;
                                bottom: 0;
    
                                transform: scale(0, 1);
                                transition: transform 0.3s ease;
                            }
    
                            &:hover::after {
                                transform: scale(1, 1);
                            }
                        }

                        .pipeSeparater {
                            text-decoration: none;
                            margin-right: 0 !important;
                            font-size: 0.95rem !important;
                        }

                        .loginButton {
                            position: relative;
                            text-decoration: none;
                            color: var(--Youth-Color);
                            text-align: center;
                            font-size: 1.05 rem;
                            font-weight: 520;
                            margin-left: 20px;
                            margin-right: 10px !important;
                            width: 70px;
                            &:hover {
                                font-weight: 600;
                                // background-color: var(--Bright-Dim-Color) !important;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 2.5px !important;
                                background: var(--Bright-Color);
                                left: 0;
                                bottom: 0;
    
                                transform: scale(0, 1);
                                transition: transform 0.3s ease;
                            }
    
                            &:hover::after {
                                transform: scale(1, 1);
                            }
                        }
                    }
                }
                .by-dropdown {
                    position: relative;
                    background: none;

                    .by-nav-link-dropdown {

                        &::after {
                            color: var(--Bright-Color);
                            font-weight: bold;

                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2.5px !important;
                            background: var(--Bright-Color);
                            bottom: 0;
                            left: 0;
                            transform: scale(0, 1);
                            transition: transform 0.3s ease;
                        }

                        &:hover:after {
                            transform: scale(1, 1);
                        }
                    }


                    .dropdown-menu {
                        border-radius: 0px !important;

                        .by-dropdown-link {
                            position: relative;
                            font-size: 0.95rem !important;
                            background: none;

                            &::after {
                                // background-color: rgb(211, 232, 249) !important;
                                color: var(--Youth-Color) !important;
                                font-weight: bold;

                                position: absolute;
                                content: "";
                                width: 80%;
                                height: 2px !important;
                                background: var(--Bright-Color);
                                bottom: 0;
                                left: 10px;
                                // right: 10px;
                                transform: scale(0, 1);
                                transition: transform 0.3s ease;
                            }

                            &:hover::after {
                                transform: scale(1, 1);
                            }
                        }

                        .CourseCategoryDropDown {
                            color: var(--Bright-Color);
                            font-weight: bold;
                            margin-left: 10px;
                        }
                    }

                }
            }
        }

        .by-cartButton {
            // position: relative;
            // border-radius: 0px !important;
            border-color: #dbd6d6 !important;
            padding: 8;

            &:hover {
                box-shadow: var(--BY-box-shadow);
            }

            img {
                width: 25px;
                // height:20px;
            }

            .totalItem {
                // position: absolute;
                // z-index: 99;
                // right: 2px;
                // top: 2px;

                color: var(--Org-Color);
                margin-left: 10px;
                font-size: 20px;
            }
        }
    }
}