
<h2 class="by-article-heading">Cash Basis Accounting</h2>

<p class="by-article-para">Cash Basis accounting records a transaction when “<b>Cash is received</b>".</p>

<p class="by-article-para">Cash Basis accounting is simple and easy to use. Most of the small businesses practice this method of accounting and does not require “Accounting Expertise".</p>

<h2 class="by-article-heading">Accrual Basis Accounting</h2>

<p class="by-article-para">Accrual Basis accounting records a transaction when the “<b>impact</b>” is “<b>Realized</b>”.</p>

<p class="by-article-para">The accountant of a business does not wait for customer(s) to pay against sales made. When an invoice is issued to a customer, the invoice amount is immediately recorded as “Sales” and on the same time, “Receivable” is also recorded against the invoice amount.</p>

<p class="by-article-para">This are dual-impacts of a single transaction, which leads accountants to “<b>Double-Entry</b>” accounting system.</p>

<p class="by-article-para">Realizing an Impact of a transaction also leads an accountant to fore-see future events. For example, Assets de-valuation due to wear and tear and usage methods of the asset, requires an accountant to record “Depreciation” which an accountant realizes that it will impact future event of disposal of the Asset.</p>
