<br />
<p class="by-article-para">
  Closing Entries are a set journal entries recorded after certain events are
  recognized by an accountant after the preparation of a trial balance.
</p>
<p class="by-article-para">
  The purpose is to merge the balances of those accounts into a single account
  whose balances are not supposed to be transferred to next accounting period.
</p>

<p class="by-article-para">
  There are mainly 5 set of closing entries which are as follows:
</p>

<ol>
  <li class="by-list-item">Closing Revenue accounts.</li>
  <li class="by-list-item">Closing Purchase accounts.</li>
  <li class="by-list-item">Closing Expense accounts.</li>
  <li class="by-list-item">Closing Profit account.</li>
  <li class="by-list-item">Closing Withdrawal account.</li>
</ol>

<br />
<h2 class="by-article-heading">1. Closing Revenue Accounts</h2>
<p class="by-article-para">
  Following journal entry is passed to close all the revenue accounts.
</p>

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="7">
        GENERAL JOURNAL
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">

    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">REVENUE</td>
      <td class="by-text-left">Sales</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">XXXX</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">SUMMARY</td>
      <td class="by-text-left" style="padding-left: 40px">
        Income Summary
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXX</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Revenue accounts closed for the year ending Dec 31, 20XX</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<p class="by-article-para">
  <b>Purpose:</b> Sales amount is the figure to show for One accounting period
  only. Sales amount has contributed to One accounting period’s profit only. It
  has nothing to contribute in past or future profits.
</p>
<p class="by-article-para">
  That’s why we have recorded this entry to show zero sales balance at the end
  of the accounting period.
</p>

<br />
<h2 class="by-article-heading">2. Closing Purchase Accounts</h2>
<p class="by-article-para">
  Following journal entry is passed to close all the purchase accounts.
</p>

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="7">
        GENERAL JOURNAL
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">

    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">SUMMARY</td>
      <td class="by-text-left">Income Summary</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">XXXX</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">PURCHASE</td>
      <td class="by-text-left" style="padding-left: 40px">Purchase</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXX</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Purchase accounts closed for the year ending Dec 31, 20XX</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<p class="by-article-para">
  <b>Purpose:</b> Like Sales, purchase amount is the figure to show for One
  accounting period only. Purchases amount has contributed in the generated of
  One accounting period’s profit only. It has nothing to contribute in
  generation of past or future profits.
</p>
<p class="by-article-para">
  That’s why we have recorded this entry to show zero sales balance at the end
  of the accounting period.
</p>

<br />
<h2 class="by-article-heading">3. Closing Expense Accounts</h2>
<p class="by-article-para">
  Following journal entry is passed to close all the purchase accounts.
</p>

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th  colspan="7">
        GENERAL JOURNAL
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">SUMMARY</td>
      <td class="by-text-left">Income Summary</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">XXXX</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left" style="padding-left: 40px">Expense</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXX</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Expense accounts closed for the year ending Dec 31, 20XX</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<p class="by-article-para">
  <b>Purpose:</b> Like Sales and purchases, expense amount is the figure to show
  for One accounting period only. Expense amount has contributed in the
  generated of One accounting period’s profit only. It has nothing to contribute
  in generation of past or future profits.
</p>
<p class="by-article-para">
  That’s why we have recorded this entry to show zero sales balance at the end
  of the accounting period.
</p>

<br />
<h2 class="by-article-heading">4. Closing Profit (OR Loss) Account</h2>
<p class="by-article-para">
  Following journal entry is passed to close all the profit accounts.
</p>

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="7">
        GENERAL JOURNAL
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left">Profit</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">XXXX</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left" style="padding-left: 40px">
        Owner’s Equity
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXX</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Profit account closed for the year ending Dec 31, 20XX</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<p class="by-article-para">
  <b>Purpose:</b> Profit amount is the figure to show increase in capital for
  One accounting period only. Profit amount has been generated for One
  accounting period’s profit only. It has not generated for past or future
  profits.
</p>
<p class="by-article-para">
  That’s why we have recorded this entry to show zero sales balance at the end
  of the accounting period.
</p>

<p class="by-article-para">
  <b>Note:</b> if there is loss, then we will have reversal of the above journal
  entry, as follows:
</p>

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="7">
        GENERAL JOURNAL
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left">Owner’s Equity</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">XXXX</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left" style="padding-left: 40px">Loss</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXX</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Loss account closed for the year ending Dec 31, 20XX</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<h2 class="by-article-heading">5. Closing Withdrawal Accounts</h2>
<p class="by-article-para">
  Following journal entry is passed to close all the withdrawal accounts.
</p>

<br />

<table class="by-border-all by-border-right-cell">
    <thead class="by-text-center">
      <tr class="by-text-bright by-table-heading by-border-bottom">
        <th colspan="7">
        GENERAL JOURNAL
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">
        Transaction Type
      </th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th>Debit<br>(Rupees)</th>
      <th>Credit<br>(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="7">Dec 31. 2022</td>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left">Owner’s Equity</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">XXXX</td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-center">OWNER’S EQUITY</td>
      <td class="by-text-left" style="padding-left: 40px">Drawings</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">XXXX</td>
    </tr>
    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Drawings account closed for the year ending Dec 31, 20XX</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<p class="by-article-para">
  <b>Purpose:</b> Like profit or loss, Drawing amount is the figure to show
  decrease in capital for One accounting period only. Drawing amount has been
  made by the owner for One accounting period only. It has not drawn for past or
  future year.
</p>
<p class="by-article-para">
  That’s why we have recorded this entry to show zero sales balance at the end
  of the accounting period.
</p>

<br />
<br />
