<br />
<p class="by-article-para">
  Financial Statements consist of a set of reports used to communicate the
  financial performance and financial position of a business.
</p>

<p class="by-article-para">Below are four financial statements:</p>

<ol>
  <li class="by-list-item">
    Statement of Profit and Loss (also called Income Statement)
  </li>
  <li class="by-list-item">
    Balance Sheet (also called Statement of Financial Position)
  </li>
  <li class="by-list-item">Statement of Cash Flow</li>
  <li class="by-list-item">Statement of Owner’s Equity</li>
  <li class="by-list-item">Statement of Cost of Goods Sold (COGS)</li>
</ol>

<br />
<br />
