<p class="by-article-para">
  When buyer want seller to revise the invoice,
  <b>the buyer issues a Debit Note to seller </b
  ><span style="color: red"
    ><b>to request for the changes in the invoice</b></span
  >.
</p>

<p class="by-article-para">
  <b>Note:</b> Formats of invoice, credit notes and debit notes are the same,
  with just minor differences.
</p>

<p class="by-article-para">
  Following are the situations where Debit notes are issued by buyer/customer to
  seller.
</p>

<ol>
  <li class="by-list-item">
    <b>Whole invoice need to be reversed</b> – for example, full return of the
    goods accepted by the seller.
  </li>
  <li class="by-list-item">
    <b>Part of the invoice need to be reversed</b> – for example, invoice is
    incorrect, or goods returned by buyer.
  </li>
  <li class="by-list-item">
    <b>Amendment required in the invoice</b> – for example, tax law changed,
    further changes, any addition or deduction required, etc.
  </li>
</ol>

<p class="by-article-para">
  Below are the simple steps showed during selling and issuing of credit notes.
</p>

<br />
<figure>
  <figcaption style="color: grey">
    Step 1 - Seller Issues Invoice to Customer for the sales
  </figcaption>
  <img
    src="../../../../assets/accounting/DiagramCreditNote1.png"
    alt="Image of Diagram - SELLER sends INVOICE to BUYER"
    style="width: 600px"   class="img-fluid"
  />
</figure>

<br />
<figure>
  <figcaption style="color: grey">
    Step 2 – Buyer need the seller to change something in Invoice.
  </figcaption>
  <img
    src="../../../../assets/accounting/DiagramDebitNote.png"
    alt="Image of Diagram - BUYER issues DEBIT NOTE to SELLER"
    style="width: 600px"  class="img-fluid"
  />
</figure>

<br />
<figure>
  <figcaption style="color: grey">
    Step 3 - Seller Issues Credit Notes to Customer for the adjustments to show
    that the seller has accepted the changes need in the invoice.
  </figcaption>
  <img
    src="../../../../assets/accounting/DiagramCreditNote2.png"
    alt="Image of Diagram - SELLER issues CREDIT NOTE to BUYER"
    style="width: 600px"  class="img-fluid"
  />
</figure>
