<br />

<p class="by-article-para">
  The accounting equations is described as the demonstration of a business’
  financial position into a mathematical equation.
</p>

<p class="by-article-para by-text-center by-text-bold">
  ASSETS = LIABILITIES + OWNER(S)’ EQUITY
</p>

<p class="by-article-para">
  Accounting equation is just an evaluation of business’ financial statement. It
  is neither a formal report, as it is just for accounting students to
  understand a financial statement; nor it is allowed to be shown in financial
  statements.
</p>

<p class="by-article-para">
  The accounting equation can be re-formed per the different sizes of
  businesses, as follows:
</p>

<table class="by-border-all">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading">Purpose</th>

      <th class="by-table-column-heading">Accounting Equation Variations</th>
    </tr>
  </thead>

  <tbody class="by-table-cell by-text16">
    <tr>
      <td class="by-text-bright by-text-left">For a small business:</td>
      <td><b>ASSETS</b> = OWNER’S EQUITIES</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left">
        For a small and medium businesses:
      </td>
      <td><b>ASSETS</b> = LIABILITIES + OWNER’S EQUITIES</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left">
        For Multi-Owner or Partnership businesses:
      </td>
      <td><b>ASSETS</b> = LIABILITIES + OWNERS’ EQUITIES</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left" style="padding-right: 50px">
        For Public Liability or Large businesses:
      </td>
      <td style="padding-right: 100px">
        <b>ASSETS</b> = LIABILITIES + STOCKHOLDERS’ EQUITIES
      </td>
    </tr>
  </tbody>
</table>

<br />
<h2 class="by-article-heading">Accounting Equation - Manipulations</h2>

<p class="by-article-para">
  As we understand that an Accounting Equation is after all a Mathematical
  equation and we can apply the mathematical equation rules to find out Assets,
  Liabilities and Owners’ equity in different situations.
</p>

<table class="by-border-all">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading">Purpose</th>

      <th class="by-table-column-heading">Accounting Equation Variations</th>
    </tr>
  </thead>

  <tbody class="by-table-cell by-text16">
    <tr>
      <td class="by-text-bright by-text-left" style="padding-right: 50px">
        1. Basic Form (i.e. to know total Assets)
      </td>
      <td style="padding-right: 100px">
        <b>ASSETS</b> = LIABILITIES + OWNER(S)’ EQUITY
      </td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left">
        2. To find out Liabilities of a business
      </td>
      <td><b>LIABILITIES</b> = ASSETS - OWNER(S)’ EQUITY</td>
    </tr>
    <tr>
      <td class="by-text-bright by-text-left">
        3. To find out Total Owner(s)’ equity
      </td>
      <td><b>OWNER(S)’ EQUITY</b> = ASSETS - LIABILITIES</td>
    </tr>
  </tbody>
</table>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 1:</b> Calculate Assets.
</p>

<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Owner’s Equity = Rs. 200,000</p>
<p class="by-article-para by-padding-left100">Liabilities = Rs. 500,000</p>

<br />
<p class="by-article-para">Then, applying <b>accounting equation: </b></p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
  Assets = Liabilities + Owner(S)’ Equity
</p>

<br />
<p class="by-article-para">
  Putting values of <b>Owner’s Equity</b> and <b>Liabilities</b>, we get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Assets</b> = Rs. 500,000 + Rs. 200,000
</p>
<div class="by-answer-div by-article-para d-block by-text-bright">
  <span class="by-answer-span"><b>Assets</b> = Rs. 700,000</span>
</div>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 2:</b> Calculate Liabilities.
</p>
<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Assets = Rs. 800,000</p>
<p class="by-article-para by-padding-left100">Owner’s Equity = Rs. 200,0000</p>

<br />
<p class="by-article-para">Then, applying <b>accounting equation: </b></p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
  Assets = Liabilities + Owner(S)’ Equity
</p>
<p class="by-article-para by-padding-left100 by-text-bold by-text-youth">
  <img
    src="../../../../assets/accounting/right-arrow.svg"
    alt="right-arrow"
    style="width: 15px"
  />
  Liabilities = Assets – Owner(s)’ Equity
</p>

<br />
<p class="by-article-para">
  Putting values of <b>Assets</b> and <b>Owner’s Equity</b>, we get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Liabilities</b> = Rs. 800,000 - Rs. 200,000
</p>
<div class="by-answer-div by-article-para d-block by-text-bright">
  <span class="by-answer-span"><b>Liabilities</b> = Rs. 600,000</span>
</div>

<br />
<br />
<p class="by-example-question by-article-para by-border-top by-text-org">
  <b>Example 3:</b> Calculate Owner’s Equity.
</p>
<p class="by-article-para">We are provided with below:</p>

<p class="by-article-para by-padding-left100">Assets = Rs. 800,000</p>
<p class="by-article-para by-padding-left100">Liabilities = Rs. 150,000</p>

<br />
<p class="by-article-para">Then, applying <b>accounting equation: </b></p>

<p class="by-article-para by-text-bold by-text-youth by-padding-left100">
    Assets = Liabilities + Owner(S)’ Equity
  </p>
  <p class="by-article-para by-padding-left100 by-text-bold by-text-youth">
    <img
    src="../../../../assets/accounting/right-arrow.svg"
    alt="right-arrow"
    style="width: 15px"
  />
    Owner(s)’ Equity = Assets – Liabilities
  
</p>

<br />
<p class="by-article-para">
  Putting values of <b>Assets</b> and <b>Liabilities</b>, we get:
</p>

<p class="by-article-para by-padding-left100">
  <b>Owner(s)’ Equity</b> = Rs. 800,000 - Rs. 150,000
</p>
<p
  class="by-article-para"
  style="padding-left: 100px; color: var(--Bright-Color)"
>
  <span style="padding: 5px; background-color: var(--Bright-Light-Color)"
    ><b>Owner(s)’ Equity</b> = Rs. 550,000</span
  >
</p>

<div class="by-answer-div by-article-para d-block by-text-bright">
    <span class="by-answer-span"><b>Owner(s)’ Equity</b> = Rs. 550,000</span>
  </div>
