<table class="by-outside-border by-toc-table">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading by-text-center by-table-first-col">
        #
      </th>
      <th class="by-table-column-heading">Topic</th>
    </tr>
  </thead>

  <tbody class="by-table-cell" *ngFor="let lesson of courseNameArray">
    <tr>
      <td class="by-color-bright by-text-center">
        {{ lesson.serial }}
      </td>
      <td class="by-table-second-col">
        <a
          class="by-a"
          name="{{ lesson.title }}"
          (click)="topicChange(lesson.serial)"
          routerLink="/courses/accounting/{{ lesson.lessonName }}"
          >{{ lesson.title }}</a
        >
      </td>
    </tr>
  </tbody>

  <!--   
  <tfoot class="by-table-cell by-bg-color-bright-light by-color-bright">
      <tr><td class="by-color-bright by-Text-Align-Left "><b>Total</b></td>  <td class="by-number-cell"><b>758,000</b></td><td class="by-number-cell"><b>758,000</b></td></tr>
  </tfoot> -->
</table>
