.by-toc-table {
    margin: 20px;

    .by-table-first-col {
        width: 100px;
        padding-right: 0px;
    }

    .by-table-second-col {
        width: 400px;
    }

    .by-a {
        text-decoration: none;
    }
}