<br />
<p class="by-article-para">
  A business records all the <b>petty transactions</b> (transactions in small
  amounts) into Petty Cash Book.
</p>

<p class="by-article-para">
  Most businesses keep a sum of amount into a separate safe which, then, is used
  to pay for small transactions, like cash to coffee shop for a guest, urgent
  cleaning expenses, small stationary purchases, taxi expenses, etc.
</p>

<p class="by-article-para">Below is a format of a Petty Cash Journal book.</p>

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="6">JOURNAL – PETTY CASH</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th>Transaction Date</th>
      <th style="width: 150px">Account Name</th>
      <th style="width: 250px">Particulars</th>
      <th style="width: 100px">Receipt <br />(Rupees)</th>
      <th style="width: 100px">Payment <br />(Rupees)</th>
      <th style="width: 100px">Balance <br />(Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 01, 2022</td>
      <td class="by-text-left">Bank Account</td>
      <td class="by-text-left">Set up a Petty Cash</td>
      <td class="by-number-cell"><b>50,000</b></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"><b>50,000</b></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">Jun 09, 2022</td>
      <td class="by-text-left">Taxi Fare</td>
      <td class="by-text-left">
        Taxi Fare from Home to Warehouse, and then back to office.
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,200</td>
      <td class="by-number-cell"><b>48,800</b></td>
    </tr>

    <tr>
      <td class="by-text-center">Jun 09, 2022</td>
      <td class="by-text-left">Building Repair</td>
      <td class="by-text-left">Plumbing expenses in office yard.</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">2,000</td>
      <td class="by-number-cell"><b>46,800</b></td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell by-border-top-footer">
    <tr
      class="by-table-cell by-bg-color-bright-light by-text-bright by-text-bold"
    >
      <td class="by-text-center">June 30, 2022</td>
      <td class="by-text-left" colspan="2"><b>Total:</b></td>
      <td class="by-number-cell">50,000</td>
      <td class="by-number-cell">3,200</td>
      <td class="by-number-cell">46,800</td>
    </tr>
  </tfoot>
</table>

<br />
<h2 class="by-article-heading">Entry in General Journal</h2>

<p class="by-article-para">
  At the end of the month, we will make an accounting entry into General Journal
  book, so that we can then, post them into Ledger.
</p>

<table class="by-border-all by-border-right-cell">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading by-border-bottom">
      <th colspan="7">GENERAL JOURNAL</th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom by-border-right-cell">
      <th>Transaction Date</th>
      <th style="width: 150px">Transaction Type</th>
      <th style="width: 200px">Account Name</th>
      <th style="width: 50px">L.F</th>
      <th style="width: 120px">Debit (Rupees)</th>
      <th style="width: 120px">Credit (Rupees)</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-border-bottom">
      <td class="by-text-center" rowspan="3">Jun 01, 2022</td>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left">Petty Cash Account</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">50,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left" style="padding-left: 40px">Bank Account</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">50,000</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3">
        <i>Paid to petty cash custodian from bank account.</i>
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom by-border-top-footer">
      <td class="by-text-center" rowspan="4">Jun 30, 2022</td>
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left">Taxi Fare</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">1,200</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-border-bottom">
      <td class="by-text-center">EXPENSE</td>
      <td class="by-text-left">Building Repair</td>
      <td class="by-text-center"></td>
      <td class="by-number-cell">2,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-center">ASSET</td>
      <td class="by-text-left" style="padding-left: 40px">
        Petty Cash Account
      </td>
      <td class="by-text-center"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,200</td>
    </tr>

    <tr class="by-border-description-cell">
      <td colspan="3">
        <i
          >Payments made from Petty Cash Account during the month of June
          2022.</i
        >
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
  </tbody>
</table>

<br />
<br />
