<br />
<p class="by-article-para">
  Let’s prepare a Cash flow statement from "INCOME STATEMENT" and "BALANCE
  SHEET" exercises in the previous chapters.
</p>

<table class="by-border-all">
  <thead class="by-text-center">
    <tr class="by-text-bright by-table-heading">
      <th class="by-text-center" colspan="6">
        MR. A AND COMPANY <br />STATEMENT OF CASH FLOW (Direct Method)
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th class="by-text-center" colspan="6">
        for the year ending December 31, 2022
      </th>
    </tr>
    <tr class="by-table-column-heading by-border-bottom">
      <th colspan="2"></th>
      <th style="width: 100px">Rupees</th>
      <th style="width: 100px">Rupees</th>
      <th style="width: 100px">Rupees</th>
      <th style="width: 100px">Rupees</th>
    </tr>
  </thead>

  <tbody class="by-table-cell">
    <tr class="by-text-bright by-text-bold">
      <td class="by-text-left" colspan="2">
        CASH BALANCE (AT BEGINNING OF THE YEAR)
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="4">
        CASH FLOW FROM OPERATING ACTIVITIES
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left" style="padding-left: 30px">
        Net Sales
      </td>
      <td class="by-number-cell">1,260,000</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left" style="padding-left: 30px">
        Accounts Receivable
      </td>
      <td class="by-number-cell by-border-bottom-youth-single">(751,900)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-bold by-text-bright">
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-left">Cash receipts from Customer</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">508,900</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Interest receipt on Savings Account
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">3,000</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left" style="padding-left: 30px">
        Net Purchases
      </td>
      <td class="by-number-cell">1,070,800</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left" style="padding-left: 30px">
        Closing Inventory
      </td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left" style="padding-left: 30px">
        Accounts Payable
      </td>
      <td class="by-number-cell">(465,000)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>
    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left" style="padding-left: 30px">
        Tax Payable
      </td>
      <td class="by-number-cell by-border-bottom-youth-single">13,100</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-bold by-text-bright">
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-left">Cash paid to Suppliers (for Inventory)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">(618,900)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Cash paid to Employees</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">(7,000)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash paid for other operating expenses
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">(22,000)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Interest Paid on Loan</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash paid for other Miscellaneous expenses
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">(9,000)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">Income Tax Paid</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-border-bottom-youth-single">(10,850)</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        NET CASH USED IN OPERATING ACTIVITIES
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold">(155,850)</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="4">
        CASH FLOW FROM INVESTING ACTIVITIES
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash paid to Purchase of Fixed Assets
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">730,000</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash paid to Purchase of Long-term Investments
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0X</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash receipts from Sale of Fixed Assets
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash receipts from Long-term Investments
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-border-bottom-youth-single">0</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth">
      <td
        class="by-text-left by-text-bold by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        NET CASH USED FOR INVESTING ACTIVITIES
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-text-bold">(730,000)</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr>
      <td class="by-text-youth by-text-left by-text-bold" colspan="4">
        CASH FLOW FROM FINANCING ACTIVITIES
      </td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash received from Owner (Business Started)
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">1,000,000</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash received from Long-term loan
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">600,000</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash paid to Owner as Dividend (or as Withdrawal)
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell">0</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr>
      <td class="by-text-left" style="width: 100px"></td>
      <td class="by-text-youth by-text-left">
        Cash paid to bank for Installments (excluding Interest)
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-border-bottom-youth-single">0</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
    </tr>

    <tr class="by-text-youth by-text-bold">
      <td
        class="by-text-left by-text-italic"
        style="padding-left: 50px"
        colspan="2"
      >
        NET CASH GENERATED FROM FINANCING ACTIVITIES
      </td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-border-bottom-youth-single">1,600,000</td>
      <td class="by-number-cell"></td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>

    <tr class="by-text-bright by-text-bold">
      <td class="by-text-left" colspan="2">NET CASH FLOW DURING THE YEAR</td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell"></td>
      <td class="by-number-cell by-border-bottom-youth-single">714,150</td>
    </tr>

    <tr style="height: 30px">
      <td></td>
    </tr>
  </tbody>

  <tfoot class="by-table-cell">
    <tr class="by-bg-color-bright-light by-text-bright">
      <td class="by-text-left by-padding-left100" colspan="5">
        <b>CASH BALANCE (AT END OF THE YEAR)</b>
      </td>
      <td class="by-number-cell by-border-bottom-double"><b>714,150</b></td>
    </tr>
    <tr style="height: 30px">
      <td></td>
    </tr>
  </tfoot>
</table>

<br />
<br />
