<br>
<p class="by-article-para">Followings are the assumption on which Accounting Principles are based:</p>

<h2 class="by-article-heading">Business Entity (also called, Economic Entity) Assumption</h2>

<p class="by-article-para">A “Business Organization” is <span class="by-text-bright by-text-bold">separate from its owner(s)</span> or other businesses.</p>

<p class="by-article-para">This assumption requires the business to keep its accounting records separate from owner’s records and from other businesses.</p>


<h2 class="by-article-heading">Going Concern Assumption</h2>

<p class="by-article-para">A “Business Organization” is assumed to be <span class="by-text-bright by-text-bold">operational throughout indefinite time</span> unless the business is ceased to exist anymore.</p>

<p class="by-article-para">If the business is expected to be closed within early next financial period, the business must report in its “Current” financial statements.</p>


<h2 class="by-article-heading">Monetary Unit Assumption</h2>

<p class="by-article-para">A “Business Organization” is assumed to have <span class="by-text-bright by-text-bold">reported its financial information in a stable currency</span>. </p>

<p class="by-article-para">This stable currency will be the unit of record for that business. The inflation rate will be adjusted through that currency value.</p>



<h2 class="by-article-heading">Time-Period (or, Accounting Period) Assumption</h2>
<p class="by-article-para">A “Business Organization” is assumed to have <span class="by-text-bright by-text-bold">reported its financial information in a time period, other than to calendar period</span>.</p>

<p class="by-article-para">A business can have annual year which start from July 1st of current year and ends July 31st of next year. Other business can select from any month starting in spring, or winter season. Another business might choose its accounting year from off-market season, where number of transactions is lesser than the number of transactions in other season.</p>